/* Body format 
---------------------------------------------*/ 

html body {
	margin: 10px 0px 0px 0px;
	padding: 0;
	background-attachment: scroll;
	background-image: url(img/bg_topmain.gif);
	background-repeat: repeat-x;
	background-position: left top;
	background-color: #EEEFF0;
    font:11px "Trebuchet MS",Verdana,Arial,Sans-serif;
	text-align: center;
} 

img { border: 0px; }


/* Build window and toolbar
---------------------------------------------*/

#windowtitle 
{
   width: 96%;
   margin: 10px 5px 5px 5px;
   padding: 2px 0px 0px 0px;
   background: #002D96 url(img/title-bck-bgrad.gif) repeat-x left top;
   border-left: #BEBBA9 1px solid;
   border-right: #BEBBA9 1px solid; 
   border-bottom: #BEBBA9 1px solid; 
   text-align: left;
}

#windowtitle h5
{
   margin: 3px 6px 5px 6px;
   color: #fff;
}

#windowdrop
{
   display: none;
   background: #ECE9D8 url(img/toolbar-bck-ggrad-sm.gif) repeat-x top left;
   padding: 10px 21px 10px 21px;
   font-size:11px;
}

#windowdrop th
{
   text-align:left;
   padding: 2px 2px 2px 15px; 
   font-weight:normal;
   background: url(img/blu_bullet.png) no-repeat;
   background-position: left center;
}

#windowmenu 
{
   padding: 4px 6px 6px 6px;
   background: #fff url(img/toolbar-bck-ggrad.gif) repeat-x;
   background-position: top left;
}

#windowmenu a:link, #windowmenu a:visited {
	color: #c00;
	text-decoration: none;
}

#windowmenu a:hover {
	color: #000;
	text-decoration: none;
}

#windowmenu span
{
    padding: 0px 15px 0px 15px;
    border-right: 1px solid #A39F8F;
}

#windowmenu th
{
    padding: 0px 15px 0px 15px;
    font-weight:normal;
    text-align: left;
    border-right: 1px solid #A39F8F;
}

#windowbody
{
   padding: 10px 0px 10px 0px;
   background: #fff; 
}



div.pad
{
   padding: 10px 6px 10px 6px !important;
}


/* Text styles
--------------------------------*/

.disabled_txt {
	color: #BEBBA9;
}


/* Styles for records page
--------------------------------*/

#records
{ 
    border: outset 1px #ECEAE1;
    margin: 7px 0px 7px 0px;
    padding: 2px 2px 2px 2px;
    background: #E1E8F9 url(img/bg_grad_bw.gif) repeat-x left top;
}

.grad_bk_red
{
    background: #F9F2E0 url(img/bg_grad_rw.gif) repeat-x left top !important;
}

.grad_bk_gry
{
    background: #E7E7E7 url(img/bg_grad_gw.gif) repeat-x left top !important;
}

.grad_bk_pur
{
    background: #F5E1F9 url(img/bg_grad_pw.gif) repeat-x left top !important;
}


#records table
{ 
    padding: 0px;
}

#records td
{ 
    padding: 2px 2px 2px 2px;
}

#records select, td
{
    font-size: 11px;
}

.goptions
{
    background: #E6E3D3;
    border: solid 2px #F1EFE3; 
}

.c {text-align:center;}
.r {text-align:right;}
.l {text-align:left;}


h4 {margin: 3px;}