

html body {
	margin: 15px 7% 0px 7%;
	padding: 0;
	background-color: #EEEFF0;
    font:13px "Trebuchet MS",Verdana,Arial,Sans-serif;
    line-height: 1.4em;
} 

div { 
    text-align: left; 
}

.rx_frameNavSection {
    border: 1px solid #000000;
    background-color: #ffffff;
    padding-top: 3px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.rx_frameSection {
    border: 1px solid #000000;
    background-color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

#navcontrol {
    background-color: #005580;
    color: #ffffff;
}


.rx_listGreen {
    background-color: #5cb85c;
    color: #ffffff !important;
}

.rx_center {
    text-align: center;
    padding: 10px;
}

.rx_menuItem {
    float:right;
    color: #ffffff;
    padding-top: 12px;
    margin-right: 5px;
    margin-left: 5px;
}

.rx_icon {
    float: right;
    width: 45px;
    height: 45px;
    text-align: center;
    color: #005580 !important;
    background-color: #ffffff;
    font-size: 1.7em;
    padding: 9px 0;
    border-radius: 30px;
    margin-right: 5px;
}

.rx_menuText {
    float: right;
    color: #ffffff !important;
}

.rx_hidden {
    display: none;
}


.rx_scrollingDiv {
    overflow-y: auto;
    overflow-x: hidden;
}

.rx_btnPaddingTop {
    padding-top: 5px;
}



.select2-container .select2-selection--single {
    height: 34px !important; 
    border-color: #CCCCCC !important; 
    font: 400 1.04em "Trebuchet MS",Verdana,Arial,Sans-serif; 
    color: #676767 !important; 
    padding-top: 2px !important; 
    padding-left: 4px !important; 
    padding-right: 4px !important; 
    width: -1px !important;

    background: url(new_arrow.png) no-repeat right #FFF !important;
}


