@import url(https://fonts.googleapis.com/css?family=Oxygen+Mono);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    padding: 0;
    margin: 0;
    font-family: "Source Sans Pro",sans-serif;
    font-weight: normal;
    line-height: 1.5;
    color: #0a0a0a;
    background: #fefefe;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Starter CSS for Menu */
#top_menu {
  padding: 0;
  margin: 0;
  border: 0;
  width: auto;
}
#top_menu ul,
#top_menu li {
  list-style: none;
  margin: 0;
  padding: 0;
}
#top_menu ul {
  position: relative;
  z-index: 597;
}
#top_menu ul li {
  float: left;
  min-height: 1px;
  vertical-align: middle;
}
#top_menu ul li.hover,
#top_menu ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
}
#top_menu ul ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 598;
  width: 100%;
}
#top_menu ul ul li {
  float: none;
}
#top_menu ul ul ul {
  top: 0;
  left: 190px;
  width: 190px;
}
#top_menu ul li:hover > ul {
  visibility: visible;
}
#top_menu ul ul {
  bottom: 0;
  left: 0;
}
#top_menu ul ul {
  margin-top: 0;
}
#top_menu ul ul li {
  font-weight: normal;
}
#top_menu a {
  display: block;
  line-height: 1em;
  text-decoration: none;
}
/* Custom CSS Styles */
#top_menu {
    background: #333;
    border-bottom: 6px solid #c00c00;
    font-family: 'Oxygen Mono', Tahoma, Arial, sans-serif; 
    /* font-family: 'Open Sans', sans-serif; */
    font-size: 12px;
}
#top_menu > ul {
  *display: inline-block;
}
#top_menu:after,
#top_menu ul:after {
  content: '';
  display: block;
  clear: both;
}
#top_menu ul {
  text-transform: uppercase;
}
#top_menu ul ul {
  border-top: 6px solid #c00c00;
  text-transform: none;
  min-width: 190px;
}
#top_menu ul ul a {
  background: #c00c00;
  color: #ffffff;
  border: 1px solid #8d0900;
  border-top: 0 none;
  line-height: 150%;
  padding: 16px 20px;
  font-size: 12px;
}
#top_menu ul ul ul {
  border-top: 0 none;
}
#top_menu ul ul li {
  position: relative;
}
#top_menu ul ul li:first-child > a {
  border-top: 1px solid #8d0900;
}
#top_menu ul ul li:hover > a {
  background: #f30f00;
  color: #ffffff;
}
#top_menu ul ul li:last-child > a {
  -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -moz-box-shadow: 0 1px 0 #c00c00;
  -webkit-box-shadow: 0 1px 0 #c00c00;
  box-shadow: 0 1px 0 #c00c00;
}
#top_menu ul ul li:last-child:hover > a {
  -moz-border-radius: 0 0 0 3px;
  -webkit-border-radius: 0 0 0 3px;
  border-radius: 0 0 0 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#top_menu ul ul li.has-sub > a:after {
  content: '+';
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -8px;
}
#top_menu ul li:hover > a,
#top_menu ul li.active > a {
  background: #c00c00;
  color: #ffffff;
}
#top_menu ul li.has-sub > a:after {
  content: '+';
  margin-left: 5px;
}
#top_menu ul li.last ul {
  left: auto;
  right: 0;
}
#top_menu ul li.last ul ul {
  left: auto;
  right: 99.5%;
}
#top_menu a {
  background: #333;
  color: #FFFFFF;
  padding: 0 20px;
}
#top_menu > ul > li > a {
  line-height: 40px;
  font-size: 13px;
}
#top_menu.align-center > ul {
  text-align: center;
  font-size: 0;
}
#top_menu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#top_menu.align-center ul ul {
  text-align: left;
}
#top_menu.align-right > ul > li {
  float: right;
}
#top_menu.align-right ul ul {
  left: auto;
  right: 0;
  text-align: right;
}
#top_menu.align-right ul ul ul {
  left: auto;
  right: 190px;
}
#top_menu.align-right ul ul li.has-sub > a:after {
  left: 15px;
  right: auto;
}

#header_logo {
  padding: 0;
  margin: 0;
  border: 0;
  width: 200px;
  float:left;
}

/* Starter CSS for Menu */
#header_menu {
  padding: 0;
  margin: 0;
  border: 0;
  width: auto;
  height:65px;
  float:right;

}
#header_menu ul,
#header_menu li {
  list-style: none;
  margin: 0;
  padding: 0;
}
#header_menu ul {
  position: relative;
  z-index: 597;
}
#header_menu ul li {
  float: left;
  min-height: 1px;
  vertical-align: middle;
  text-align:center;
  width:160px;
  border-top: 6px solid #fff; 
}
#header_menu ul li.hover,
#header_menu ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
  border-top: 6px solid #c00c00;
}
#header_menu ul ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 598;
  width: 100%;
}
#header_menu ul ul li {
  float: none;
}
#header_menu ul ul ul {
  top: 0;
  left: 190px;
  width: 190px;
}
#header_menu ul li:hover > ul {
  visibility: visible;
}
#header_menu ul ul {
  bottom: 0;
  left: 0;
}
#header_menu ul ul {
  margin-top: 0;
}
#header_menu ul ul li {
  font-weight: normal;
}
#header_menu a {
  display: block;
  line-height: 1em;
  text-decoration: none;
}
/* Custom CSS Styles */
#header_menu {
    font-family: 'Oxygen Mono', Tahoma, Arial, sans-serif; 
    /* font-family: 'Open Sans', sans-serif; */
    font-size: 12px;
}
#header_menu > ul {
  *display: inline-block;
}
#header_menu:after,
#header_menu ul:after {
  content: '';
  display: block;
  clear: both;
}
#header_menu ul {
  text-transform: uppercase;
}
#header_menu ul ul {
  border-top: 6px solid #c00c00;
  text-transform: none;
  min-width: 190px;
}
#header_menu ul ul a {
 
  color: #ffffff;
  line-height: 150%;
  padding: 16px 20px;
  font-size: 12px;
}
#header_menu ul ul ul {
  border-top: 0 none;
}
#header_menu ul ul li {
  position: relative;
}
#header_menu ul ul li:first-child > a {
  border-top: 1px solid #8d0900;
}
#header_menu ul ul li:hover > a {

  color: #000000;
}
#header_menu ul ul li:last-child > a {
  -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -moz-box-shadow: 0 1px 0 #c00c00;
  -webkit-box-shadow: 0 1px 0 #c00c00;
  box-shadow: 0 1px 0 #c00c00;
}
#header_menu ul ul li:last-child:hover > a {
  -moz-border-radius: 0 0 0 3px;
  -webkit-border-radius: 0 0 0 3px;
  border-radius: 0 0 0 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
 
}
#header_menu ul ul li.has-sub > a:after {
  content: '+';
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -8px;
}
#header_menu ul li:hover > a,
#header_menu ul li.active > a {
 
  color: #c00c00;

}
#header_menu ul li.has-sub > a:after {
  content: '+';
  margin-left: 5px;
}
#header_menu ul li.last ul {
  left: auto;
  right: 0;
}
#header_menu ul li.last ul ul {
  left: auto;
  right: 99.5%;
}
#header_menu a {

  color: #000000;
  padding: 0 20px;
}

#header_menu i {

  color: #c00c00;

}

#header_menu > ul > li > a {
  line-height: 58px;                                     
  font-size: 17px;
}
#header_menu.align-center > ul {
  text-align: center;
  font-size: 0;
}
#header_menu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#header_menu.align-center ul ul {
  text-align: left;
}
#header_menu.align-right > ul > li {
  float: right;
}
#header_menu.align-right ul ul {
  left: auto;
  right: 0;
  text-align: right;
}
#header_menu.align-right ul ul ul {
  left: auto;
  right: 190px;
}
#header_menu.align-right ul ul li.has-sub > a:after {
  left: 15px;
  right: auto;
}



#top_menuheader {
  padding: 0;
  margin: 0;
  border: 0;
  height: 70px;
  width: auto;
  background-color: #fff; 

}

a.header_logo {
    float: left;
    margin-left: 20px;
    height: 60px;
    display: block;
    margin-top: 8px;
    vertical-align: middle;
    width: 200px;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    overflow: hidden;
    -moz-transition: width 500ms ease-in-out;
    -o-transition: width 500ms ease-in-out;
    -webkit-transition: width 500ms ease-in-out;
    transition: width 500ms ease-in-out;
}



img {
    border: 0;
}

img {
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
    display: inline-block;
    vertical-align: middle;
}

.fbds-icon--small {
    height: 3.125rem;
}

.margin-bottom-5 {
    margin-bottom: 5px !important;
}

.margin-top-none {
    margin-top: 0 !important;
}

.fbds-headline-secondary {
    font-family: "Source Sans Pro",sans-serif;
    color: #6c7a85;
    font-size: 1.375rem;
    line-height: 1.54545;
    font-weight: 400;
}

.fbds-headline {
    margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto",sans-serif;
    font-weight: normal;
    font-style: normal;
    color: inherit;
    text-rendering: optimizeLegibility;
    margin-top: 0;
    margin-bottom: .5rem;
    line-height: 1.1;
}

h4 {
    display: block;
    -webkit-margin-before: 1.33em;
    -webkit-margin-after: 1.33em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

.margin-bottom-none {
    margin-bottom: 0 !important;
}



.item_wrapper {

   padding:10px;
   margin-left: 5px;
   width: auto;
   position:relative;
   margin-bottom: 0px;

}

.panel_wrapper {

   padding-bottom: 10px;
   margin-right: 20px;
   margin-left: 20px;

}

.table-liststyle01 th {

    border: 1px solid #d3d3d3 !important;
    background-color: #fff0dc;
    text-align:center;
    vertical-align:middle;
    font-weight:normal;

}

.table-liststyle01 td {

    vertical-align:middle !important;

}


.item_wrapper a {

    text-decoration:none;
    color: #000;

}

.item_wrapper a:hover {

    text-decoration:none;
    color: #000;

}


.subpageNavList {

    position: fixed;
    width:250px;

}

.subpageNavListMargin {

    padding:10px;

}

.subpageNavList [class*="header"] {

    background-color: #f5f5f5 !important;
    border-color: #d3d3d3 !important;
    font-size: 16px;
    border-bottom: 4px solid #c00c00 !important;
    padding: 7px 15px !important;


}

.MatrixDefault i {

    Color: grey;

}


.MatrixDefault [class*="ScorePip_1"] {

    Color: #33CC00 !important;

}

.MatrixDefault [class*="ScorePip_2"] {

    Color: #90B500 !important;

}

.MatrixDefault [class*="ScorePip_3"] {

    Color: #FF9900 !important;

}

.MatrixDefault [class*="ScorePip_4"] {

    Color: #E25900 !important;

}

.MatrixDefault [class*="ScorePip_5"] {

    Color: #c00c00 !important;

}


.subpageNavList a {

    color: #000000;
}

.subpageNavList a:hover {

    color: #c00c00;
    text-decoration:none;
}




.mainpageNavList {

    margin-left: 280px;
    padding-right:20px;

}


@media screen and (max-width: 980px) {

  .subpageNavList {
    visibility: hidden;
    clear: both;
    float: left;
    display: none;
  }

  .mainpageNavList {
   margin-left: 20px;
   padding-right:20px;
   }


}




.item_wrapper h1 {

    color: #c00c00;
    position: absolute;
    /* top: -20px; */
    
    font-size: 35px;
    padding-top: 0px;
    margin-top: 0px;

}

.item_wrapper h3 {

    padding-left: 50px;
    font-size: 18px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    color:#c00c00;
}

.item_wrapper p {

    color: #89939A;
    color:#000000;
    padding-left: 50px;

    font-size: 13px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom:0px;
}


.item_options {

    vertical-align:middle !important;
    text-align: right;

}

.form-group label {

    border-top: 1px solid #d3d3d3;
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
    padding: 4px;
    margin:0px;
    width: 100%;
    background-color: #FFF4E6;
    vertical-align:middle;
    font-weight:normal;
    border-radius: 4px;

}

.item_wrapper a {

    text-decoration:none;
    color: #000;

}

.item_wrapper a:visited {

    text-decoration:none;
    color: #000;

}

.item_wrapper a:active {

    text-decoration:none;
    color: #000;

}

.item_wrapper a:link {

    text-decoration:none;
    color: #000;

}


.item_wrapper a:hover {

    text-decoration:none;
    color: #000;

}

.item_wrapper_mid h1 {
    
    font-size: 35px;
    padding-top: 2px;

}

.item_wrapper_mid_extraPad h1 {

  padding-top: 4px;

}


.item_wrapper_mid h3 {

    font-size: 20px;
    padding-left: 43px;

}

.item_wrapper_mid p {

    font-size: 13px;
    padding-left: 43px;
    margin: 0 0 10px;

}

.item_wrapper_mid:hover {


}


.panel-title a {

    font-weight:normal;
    text-decoration:none;

}



.panel-heading {

    border-bottom: 3px solid #c00c00 !important;

}

.panel-subpanel [class*="panel-heading"] {

    border-bottom: 1px solid #c00c00 !important;

}


.panel-options {
   float:right;

}

.panel_button {

    padding-top: 1px !important;
    padding-bottom: 1px !important;
    background-color: #333 !important;
    border-color: #000 !important;

}


.form-group i {
    color: #c00c00;
    padding-right: 0px;
}

.panel-heading i {
    color: #c00c00;
    padding-right: 5px;
}

.page_title {

   padding-bottom: 30px;
   margin-left: 5px;
   width: auto;

}

.page_title h1 {

    font-weight:500;
    padding-bottom: 0px;
    margin-bottom: 0px;

}

.page_title span {


}

.pageTitleOptions {

    padding-top:7px;


}


.panel-menu-item-wrapper {

}

.panel-menu-item {
    margin:0px !important;
}

.panel-menu-item-body {
    padding:0px !important;
    margin:0px !important;

}

.panel-menu-item:hover {

    background-color: #eeeeee !important;
    border-color: #e2e2e2 !important;

}

.actionViewContainer {

    padding:10px;
    margin:0px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #d3d3d3;
    border-radius: 4px;

}

.actionViewInfo i {

    font-size: 35px;
    float:left;
    color:#c00c00;
    margin-left:5px;

}

.actionViewInfo p, .actionViewInfo h3 {

    margin-left: 60px;
}

.actionViewInfo p {
    font-size: 13px;
}

.actionViewInfo h3 {

    font-size: 18px;
    margin-bottom: 0px !important;
    line-height: 1;

}

.actionViewInfoSub {


}

#div_task_stats a {
   pointer-events: none;
   cursor: default;
}

#div_stats a {
   pointer-events: none;
   cursor: default;
}

.warning-block {

    margin-left: 20px;
    margin-top: 10px;
    margin-right: 20px;

}

.warning-block a {

    text-decoration:none;
    color: #8a6d3b;

}

.warning-block a:hover {

    text-decoration:none;
    color: #8a6d3b;

}

/* Style The Dropdown Solo Menu */
.dropbtn {
    background-color: #c00c00;
    color: white;
    padding: 7px 16px 7px 16px;
    margin-right:0px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    text-align:left;
    position: absolute;
    right:0px;
    background-color: #f9f9f9;
    min-width: 270px;
    border: 1px solid;
    border-color: #c00;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 5px 15px;
    text-decoration: none;
    display: block;
    border-bottom: 1px #B9B9B9 solid;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #E8E8E8;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #D14E46;
}

.modal-header {

    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background:#f5f5f5 !important;
    border-bottom: 3px solid #c00c00 !important;

}

.searchResults td {



}


.searchDescriptionCell i {

    position:absolute;
    padding-top: 3px;
}

.searchDescriptionCell h3 {

    font-size: 14px;
    font-weight: bold;
    margin-left: 35px;
    padding-bottom:0px;
    margin-bottom:0px;

}

.searchDescriptionCell p {

    margin-left: 35px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}


.iconTextBlockStyleContainer01 {

    margin-top: 15px;
    
}


.iconTextBlockStyle01 {

    width: 120px;
    float:left;

}


.iconTextBlockStyle01 i {

    position:absolute;
    padding-top: 3px;

}

.iconTextBlockStyle01 h3 {

    margin-left: 30px;
    font-size: 14px;
    padding-top: 10px;

}




.green-colour {
    color:forestgreen;
}

.orange-colour {
    color:sandybrown;
}

.red-colour {
    color:#c00c00;
}

.modalBodyStyle01 h4 {

    font-weight:normal;
    color:#c00c00;
    border-bottom: 1px solid #c3c3c3;
    padding-bottom: 5px;
    

}

.click{cursor: pointer;}

.disabled{color:gray !important;}

.menu-item{min-height:75px !important;}

.red-link, .red-link:hover{color: #c00c00; text-decoration:none;}

.margin-right-5{margin-right:5px;}

.grey-backgroundcolour{background-color:#f5f5f5 !important;}

.c{text-align:center;}

.graph-menu-1x2{margin:0 auto !important; width:250px;}

.panel-default > .panel-heading {
    border-color: #C8C8C8 !important;
    background-color: #F0F0F0 !important;
}

.top-button { margin-top: 10px !important; }