﻿

#dZUpload {
    min-height: 200px;
    max-height: 400px;
    overflow-y: auto;
    border: 3px dashed #cccccc;
    margin: 5px;
}

#dZUploadMessageLarge {
    width: 100%;
    height: 200px;
    text-align: center;
    color: #cccccc;
    z-index: 10;
    position: relative;
    font-size: 3em;
    padding-top: 75px;
}

#dZUploadMessageSmall {
    font-size: 1.2em;
    position: relative;
    z-index: 10;
    float: left;
    margin-left: 5px;
}


.fileinput-button-container {
    text-align: right;
}



.dZfloated {
    float:left;
    margin-right:5px;
}

#galleryImage {
    max-height: 300px;
}

#galleryImageTitle {
    opacity: 0.2;
    background-color: #ffffff;
}



/* Mimic table appearance */
div.table {
    display: table;
}
div.table .file-row {
    display: table-row;
}
div.table .file-row > div {
    display: table-cell;
    vertical-align: top;
    border-top: 1px solid #ddd;
    padding: 8px;
}
div.table .file-row:nth-child(odd) {
    background: #f9f9f9;
}



/* The total progress gets shown by event listeners */
#total-progress {
    opacity: 0;
    transition: opacity 0.3s linear;
    margin-top: 5px;
}

/* Hide the progress bar when finished */
#previews .file-row.dz-success .progress {
    opacity: 0;
    transition: opacity 0.3s linear;
}

/* Hide the delete button initially */
#previews .file-row .delete {
    display: none;
}
#previews .file-row .download {
    display: none;
}

/* Hide the start and cancel buttons and show the delete button */
#previews .file-row.dz-success .cancel {
    display: none;
}
#previews .file-row.dz-success .delete {
    display: block;
}
#previews .file-row.dz-success .download {
    display: block;
}

.imagePrint {
    width: 148px;
    height: 148px;
    margin: 5px;
    border: 5px solid #DFDFDF;
}
