/* Body format 
---------------------------------------------*/ 

html body {
	margin: 10px 0px 0px 0px;
	padding: 0;
	background-attachment: scroll;
	background-image: url(img/bg_topmain.gif);
	background-repeat: repeat-x;
	background-position: left top;
	background-color: #EEEFF0;
    font:11px "Trebuchet MS",Verdana,Arial,Sans-serif;
	text-align: center;
} 

img { border: 0px; }

th { text-align: left; } /* fix for IE8 - align all table headings left unless otherwise stated


/* Build window and toolbar
---------------------------------------------*/

#windowtitle_nomargin
{
   width: 96%;
   margin: 0px 5px 5px 5px;
   padding: 2px 0px 0px 0px;
   background: #940303 url(img/title-bck-rgrad.png) repeat-x left top;
   border-left: #BEBBA9 1px solid !important;
   border-right: #BEBBA9 1px solid !important; 
   border-bottom: #BEBBA9 1px solid !important; 
   text-align: left;
}

#windowtitle_nomargin h5
{
   margin: 3px 6px 5px 6px;
   color: #fff;
   font:bold 13px "Trebuchet MS",Verdana,Arial,Sans-serif;
}

#windowtitle_alert 
{
   width: 96%;
   margin: 10px 5px 5px 5px;
   padding: 2px 0px 0px 0px;
   background: #940303 url(img/title-bck-rgrad.png) repeat-x left top;
   border-left: #BEBBA9 1px solid !important;
   border-right: #BEBBA9 1px solid !important; 
   border-bottom: #BEBBA9 1px solid !important; 
   text-align: left;
   margin-left: auto;
   margin-right: auto;
}

#windowtitle_alert h5
{
   margin: 3px 6px 5px 6px;
   color: #fff;
   font:bold 13px "Trebuchet MS",Verdana,Arial,Sans-serif;
}

#windowtitle 
{
   width: 96%;
   margin: 10px 5px 5px 5px;
   padding: 2px 0px 0px 0px;
   background: #940303 url(img/title-bck-rgrad.png) repeat-x left top;
   border-left: #BEBBA9 1px solid !important;
   border-right: #BEBBA9 1px solid !important; 
   border-bottom: #BEBBA9 1px solid !important; 
   text-align: left;
   margin-left: auto;
   margin-right: auto;
}


.blu_bar
{

   background: #002D96 url(img/title-bck-bgrad.gif) repeat-x left top !important;
   border-left: #BEBBA9 1px solid !important;
   border-right: #BEBBA9 1px solid !important; 
   border-bottom: #BEBBA9 1px solid !important; 
}

#windowtitle h5
{
   margin: 3px 6px 5px 6px;
   color: #fff;
   font:bold 13px "Trebuchet MS",Verdana,Arial,Sans-serif;
}


#windowdrop
{
   display: none;
   background: #ECE9D8 url(img/toolbar-bck-ggrad-sm.gif) repeat-x top left;
   padding: 10px 21px 10px 21px;
   font-size:11px;
}

#windowdrop p.submit 
{
    text-align:center;
    padding: 20px 0px 0px 0px;
    margin:0px 0px 0px 0px;
	font-size: 1em;
}

#windowdrop th
{
   text-align:left;
   padding: 2px 2px 2px 15px; 
   font-weight:normal;
   background: url(img/blu_bullet.png) no-repeat;
   background-position: left center;
}


#windowdrop_savedSearch
{
   display: none;
   background: #ECE9D8 url(img/toolbar-bck-ggrad-sm.gif) repeat-x top left;
   padding: 10px 21px 10px 21px;
   font-size:11px;
}

#windowdrop_savedSearch p.submit 
{
    text-align:center;
    padding: 20px 0px 0px 0px;
    margin:0px 0px 0px 0px;
	font-size: 1em;
}

#windowdrop_savedSearch th
{
   text-align:left;
   padding: 2px 2px 2px 15px; 
   font-weight:normal;
   background: url(img/blu_bullet.png) no-repeat;
   background-position: left center;
}



#windowmenu 
{
   padding: 5px 6px 7px 6px; /* padding: 4px 6px 6px 6px; */
   background: #fff url(img/toolbar-bck-ggrad.gif) repeat-x;
   background-position: top left;
}

#windowmenu a:link, #windowmenu a:visited {
	color: #c00;
	text-decoration: none;
}

#windowmenu a:hover {
	color: #000;
	text-decoration: none;
}

#windowmenu span
{
    padding: 0px 15px 0px 15px;
    border-right: 1px solid #A39F8F;
}

#windowmenu th
{
    padding: 0px 15px 0px 15px;
    font-weight:normal;
    text-align: left;
    border-right: 1px solid #A39F8F;
}

#windowbody
{
   padding: 10px 0px 10px 0px;
   background: #fff; 
}


#tasks_waiting a:link, #tasks_waiting a:visited {
	color: #000;
	text-decoration: none;
}

#tasks_waiting a:hover {
	color: #000;
	text-decoration: none;
}



div.pad
{
   padding: 10px 6px 10px 6px !important;
}


/* Text styles
--------------------------------*/

.disabled_txt {
	color: #BEBBA9;
}


/* Styles for records page
--------------------------------*/

#records
{ 
    border: outset 1px #ECEAE1;
    margin: 7px 0px 7px 0px;
    padding: 2px 2px 2px 2px;
    background: #E1E8F9 url(img/bg_grad_bw.gif) repeat-x left top;
}

.grad_bk_red
{
    background: #F9F2E0 url(img/bg_grad_rw.gif) repeat-x left top !important;
}

.grad_bk_gry
{
    background: #E7E7E7 url(img/bg_grad_gw.gif) repeat-x left top !important;
}

.grad_bk_pur
{
    background: #F5E1F9 url(img/bg_grad_pw.gif) repeat-x left top !important;
}


#records table
{ 
    padding: 0px;
}

#records td
{ 
    padding: 2px 2px 2px 2px;
}

#records select, td
{
    font-size: 11px;
}

.goptions
{
    background: #E6E3D3;
    border: solid 2px #F1EFE3; 
}

.c {text-align:center;}
.r {text-align:right;}
.l {text-align:left;}

.bld {font-weight: bold;}

h4 {margin: 3px;}

.r_txt {color:Red;}
.g_txt {color:Green;}


/* News
----------------------------*/
div .news table {margin:1px 0px 1px 0px;font-size:12px;border:2px solid #EAE9E1;padding:2px 2px 2px 10px;background:#FFF6D1;}
div .news th {background:url(img/rec_icon_warn.gif) no-repeat center;text-align:center;}

/* Search styles
----------------------------*/
div .searcharea {margin:0px 0px 5px 0px;}
div .searcharea h3 {font-size:16px;font-weight:normal;padding:0px 0px 0px 17px;color:#003399;border-bottom: 2px solid #A2A2EC;background: url(img/blu_bullet.png) no-repeat;background-position: left;}
div .searcharea th {font-size:12px;border:2px solid #EAE9E1;padding:2px 2px 2px 10px;background:#F4F3EF;}
div .searcharea p {font-size:14px;padding:0px 0px 0px 4px;}
div .searcharea p.submit {font-size: 1em;text-align:center;padding: 20px 0px 0px 0px;margin:0px 0px 0px 0px;}
div .searcharea td {border-bottom:1px solid #EAE9E1;padding:1.5px 0px 1.5px 5px;}
div .searcharea tr.statistics {font-weight: bold; text-align: center; }
div .searcharea tr.statistics td {border:2px solid #EAE9E1 !important;padding: 3px;background:#FFF6D1;font-size:12px;}
div .searcharea table.highlight th {background-color:#fff6d1 !important;}
div .searcharea th.highlight  {background-color:#fff6d1 !important;}

/* Section styles
----------------------------*/
div .sectionarea {clear: both;} /* fix for floating div compatibility in firefox - suser-risk assessment */
div .sectionarea h3 {font-size:16px;font-weight:normal;margin:0px 0px 12px 0px;padding:0px 0px 0px 17px;color:#003399;border-bottom: 2px solid #A2A2EC;background: url(img/blu_bullet.png) no-repeat;background-position: left;}
div .sectionarea2 h3 {font-size:16px;font-weight:normal;padding:0px 0px 0px 17px;color:#003399;border-bottom: 2px solid #A2A2EC;background: url(img/blu_bullet.png) no-repeat;background-position: left;}
div .sectionarea h3.disabled {color:#ACACAC; border-bottom: 2px solid #CDCDCD;}
div .sectionarea h3.noimage {background: none;}
div .sectionarea a {text-decoration:none;}
div .sectionarea th {font-size:12px;border:2px solid #EAE9E1;padding:2px 2px 2px 10px;background:#F4F3EF;}
div .sectionarea th.span {font-weight:normal;}
div .sectionarea td.pad {padding:2px 2px 2px 10px;}
div .sectionarea table.results td {border-bottom:1px solid #EAE9E1;background-color:#FFF6D1;}
div .sectionarea table.highlight th {background-color:#fff6d1 !important;}
div .sectionarea th.highlight  {background-color:#fff6d1 !important;}
div .sectionarea p {font-size:14px;padding:0px 0px 0px 4px;}
div .sectionarea p.submit {font-size:1em;text-align:center;padding: 20px 0px 0px 0px;margin:0px 0px 0px 0px;}
div .sectionarea table.showtd td {border:1px solid #EAE9E1;padding:2px 2px 2px 10px;}

div .disabled th {color: #747474;}
div .disabled td {color: #747474;}

div .active h3 {color: #c00c00;border-bottom: 2px solid #c00c00;}

div .substance h3 {color: #2E2E2E; border-bottom: 2px solid #2E2E2E;}

h3.green {color: #66A300 !important; border-bottom: 2px solid #66A300 !important;} 

div .info {font-size:12px;color: #747474;}

div .sml_info {font-size:11px; color: #747474;}

/* div.optionsection {margin: 10px 5px 5px 5px; padding: 2px 0px 0px 0px; width: 96%;} */
div.optionsection {width: 96%; margin-left: auto; margin-right: auto;} /* fix for compatibility with firefox and IE */
div.optionsection td.link span {padding: 0px 0px 0px 0px; font-weight:bold; color:#c00c00;}
div.optionsection td.dl_icon {padding:0px 0px 0px 37px;background: url(img/icon_v2_downl.png) no-repeat;background-position: left center;}
div.optionsection td.sr_icon {padding:0px 0px 0px 37px;background: url(img/icon_v2_srch.png) no-repeat;background-position: left center;}
div.optionsection td.pt_icon {padding:0px 0px 0px 37px;background: url(img/icon_v2_print.png) no-repeat;background-position: left center;}
div.optionsection td.cr_icon {padding:0px 0px 0px 37px;background: url(img/icon_v2_create.png) no-repeat;background-position: left center;}
div.optionsection td.ur_icon {padding:0px 0px 0px 37px;background: url(img/icon_v2_user.png) no-repeat;background-position: left center;}
div.optionsection td.tsk_icon {padding:0px 0px 0px 37px;background: url(img/icon_task.png) no-repeat;background-position: left center;}
div.optionsection td.add_tsk_icon {padding:0px 0px 0px 37px;background: url(img/icon_ctask.png) no-repeat;background-position: left center;}
div.optionsection td.hlp_icon {padding:0px 0px 0px 37px;background: url(img/icon_help.png) no-repeat;background-position: left center;}
div.optionsection td.mem_icon {padding:0px 0px 0px 37px;background: url(img/icon_memo.png) no-repeat;background-position: left center;}
div.optionsection td.cal_icon {padding:0px 0px 0px 37px;background: url(img/icon_cal.png) no-repeat;background-position: left center;}
div.optionsection td.srch_tsk_icon {padding:0px 0px 0px 37px;background: url(img/icon_src.png) no-repeat;background-position: left center;}
div.optionsection td.ret_icon {padding:0px 0px 0px 37px;background: url(img/icon_v2_return.png) no-repeat;background-position: left center;}
div.optionsection td.perm_icon {padding:0px 0px 0px 37px;background: url(img/icon_v2_perm.png) no-repeat;background-position: left center;}

div.optionsection a {color:Black; text-decoration:none;}
div.optionsection td.title {font-size:30px;}


/* Form styles
----------------------------*/
form .text {
  border:1px solid #E1D4C0;
  border-color:#CABBA9 #E1D4C0 #E1D4C0 #CABBA9;
  padding: 3px;
  font-size:12px; 
}
  
form .select {
  border:1px solid #E1D4C0;
  border-color:#CABBA9 #E1D4C0 #E1D4C0 #CABBA9;
  padding: 3px;
  font-size:12px; 
}

select .sub
{
font-style: italic !important;    
}

form .textarea {
  width:99%;
  border:1px solid #E1D4C0;
  border-color:#CABBA9 #E1D4C0 #E1D4C0 #CABBA9;
  padding: 3px;
  font: 12px "Trebuchet MS",Verdana,Arial,Sans-serif;
}

form .button 
{
    font-size: 12px;
}


/* Coloured boxes
----------------------------------*/
td.yel_th_box {margin:5px 0px 20px 0px;font-size:12px;border:2px solid #EAE9E1;padding:2px 2px 2px 10px;background:#FFF6D1 !important;}


/* Text colours
----------------------------------*/

.whttxt {color:#FFFFFF !important}
.redtxt {color:#c00c00 !important}
.blktxt {color:#000000 !important}
.grytxt {color:#4C5248 !important}
.grntxt {color:#34C900 !important}
.orgtxt {color:#FFCC00 !important}
.blutxt {color:#A2A2FF !important}
.prptxt {color:#CC00FF !important}

/* Floating Divs
----------------------------------*/

div.floatdiv {
float: left;
width: 230px;
padding: 1px;
}



/* Hazard details
----------------------------*/
div .risklevels {padding:0px 0px 15px 0px;}
div .risklevels p {font-size:24px;}
div .totalrisk {width: 350px; margin-left: auto; margin-right: auto;} /* fix for centering this div for firefox */
div .totalrisk h2 { font-size: 2.2em; } /* fix for increasing h2 font size in this div for firefox */
div .totalrisk table {margin:5px 0px 20px 0px;font-size:12px;border:2px solid #EAE9E1;padding:2px 2px 2px 10px;background:#F4F3EF;}
div .totalrisk td {padding: 0px 0px 0px 0px;font-size: 24px; font-weight:bold;}
div .sectionarea table.hazarddetails span.hazwarn {padding:440px 0px 0px 0px;}
div .sectionarea table.hazarddetails a {color:#c00c00;}


/* Note box
---------------------------------*/
div .addnote {padding:0px 0px 30px 0px;}
div .notearea table.shownotes p {color: #c00c00;font-size: 11px;text-align:right;margin:0px 0px 0px 0px;padding:2px 0px 0px 0px;}


/* importants
----------------------------------*/
.noborder {border:none !important;}
.notopmargin {margin-top: 0px !important;}


/* AssessNET Menu items
------------------------------------*/


TD.action_text
{
 border: 1px solid #999;
 border-left: none;
 background: #f5f5f5;
 padding: 5px;
 color: #222;
 font-size: 12px;
 text-align: left;
}

TABLE.action
{
 border: none;
 width: 100%;
 border-spacing: 0;
 padding: 0;
 margin: 0;
 cursor: pointer;
 text-align: left;
}

/* Support page items
------------------------------------*/
td.supportstatus
{
text-align: center ;
padding: 5px;  
}

td.Recieved { background-color: #FFD9D9;}
td.Active { background-color: #FFFFC0;}
td.Closed { background-color: #E8F0D9;}

/* Task Manager */

TD.shade {background-color: #F6F5F2;}
TD.shade_overdue {background-color: #FFF1F1;color: #c00c00;}

SPAN.txt_shade_gry {color: #999999;}
SPAN.txt_shade_red {color: #c00c00;}
SPAN.txt_shade_org {color: #FFA800;}
SPAN.txt_shade_grn {color: #34C900;}

TR.showpointer {cursor: pointer;}

TR.taskrow TD 
{
    font-family: Tahoma;
    font-size: 11px;
    border-bottom: 1px solid #EAE9E1;
}

TR.taskrow TH
{
    color: #3768B9;
    font-family: Tahoma;
    font-size: 11px;
    text-align: left;
    padding-left: 35px;
    border-bottom: 2px solid #7BA4E0;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: #fff;
}

TR.taskrow_overdue TH
{
    color: #c00c00;
    font-family: Tahoma;
    font-size: 11px;
    text-align: left;
    padding-left: 35px;
    border-bottom: 2px solid #c00c00;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: #fff;    
}

TR.taskrow_overdue TD 
{
    font-family: Tahoma;
    font-size: 11px;
    border-bottom: 1px solid #F4D3D1;
}

TR.taskrow_reassign TH
{
    color: #c00c00;
    font-family: Tahoma;
    font-size: 11px;
    text-align: left;
    padding-left: 35px;
    border-bottom: 2px solid #c00c00;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: #fff;    
}

TR.taskrow_reassign TD 
{
    font-family: Tahoma;
    font-size: 11px;
    border-bottom: 1px solid #DDDDFF;
    background-color: #DDDDFF;
}

/* Misc table styles
----------------------------*/
table.fontnorm td {font-size:13px;}
table.pad {padding: 10px 0px 10px 0px;}

/*Inspection area
----------------------------- */


.areaactive {font-size:14px; color: #000000 !important;}
.areainactive {font-size:14px; color: #CCC !important;}

/*audit answer colours
----------------------------- */


.sa th  { margin: 5px !important; padding: 3px !important; text-align: center !important; font-weight: bold !important;  }


.sax th  { background: none !important;  border: 1px solid #ddd !important; }
.sa0 th { background: #FFC0C0 !important;  border: 1px solid #caa !important; }
.sa1 th { background: #FFFFA7 !important;  border: 1px solid #bb9 !important; }
.sa2 th {  background: #ded !important; border: 1px solid #aea !important; }

.sa td { margin: 5px; padding: 3px; border: none; font-size:16px;font-weight:normal;margin:0px 0px 12px 0px;padding:0px 0px 0px 17px;background: url(img/blu_bullet.png) no-repeat;background-position: left;}
.sax td  { color: #000; }
.sa0 td { color: #FFC0C0;   }
.sa1 td { color: #FFFFA7;  }
.sa2 td {  color: #ded; }

.sa {margin-bottom: 5px; }
.sax   {  border-bottom: 2px solid #ddd; }
.sa0 {  border-bottom: 2px solid #FFC0C0;   }
.sa1 {  border-bottom: 2px solid #FFFFA7;  }
.sa2  {  border-bottom: 2px solid #ded; }

/*Styles for DSE Training
------------------------------------- */

.dse_train 
{
background-color: #ffffff !important;
text-align: left;   
background-image: none; 
padding-left: 20px;
}


.dsetrainmenu
{
    background: #93bce3 url("../../dse_assessment/app/training/img/menu_back.png") repeat-y;
    font: 8pt "Trebuchet MS",Verdana,Arial,Sans-serif;
}

.dsetrainmenu UL
{
 margin-top: 0;
 margin-left: 10px;
 padding-left: 10px;
 font-size: 8pt;
 text-align: left;
}

.dsetrainmenu UL LI
{
 margin: 0;
 padding: 0;
}

.dsetrainmenu li.embold {color: #D11A1A;}
.dsetrainmenu li.headin {font-weight: bold; }
.dsetrainmenu li.emboldsml {color: #D11A1A; font-weight: normal;}
.dsetrainmenu li.normsml {color: #000000; font-weight: normal;}

.dsetrainmenu a.refresh:link {color: #000000; text-decoration: none;  font-size: 8pt;}
.dsetrainmenu a.refresh:visited {color: #000000; text-decoration: none;  font-size: 8pt;}
.dsetrainmenu a.refresh:hover {color: #D11A1A; text-decoration: none;  font-size: 8pt;}
.dsetrainmenu a.refresh:active {color: #000000; text-decoration: none;  font-size: 8pt;}



TABLE.dseaction
{
 border: none;
 width: 100%;
 border-spacing: 0;
 padding: 0;
 margin: 0;
 cursor: pointer;
}
TABLE.dseaction TD
{
 margin: 0;
 border-spacing: 0;
}

TD.dseaction_icon
{
 border-left: 1px solid #999;
 border-top: 1px solid #999;
 border-bottom: 1px solid #999;
 background: #f5f5f5 url('../../../../images/icons/action_bg.gif') top right;
 vertical-align: middle;
 border-right: none;
 padding: 5px;
}

TD.dseaction_text
{
 border: 1px solid #999;
 border-left: none;
 background: #f5f5f5;
 padding: 5px;
 color: #222;
 text-align: left;
 font-size: 12px;
}

.dse_enter {font-family: helvetica,arial,sans-serif; }

TD.dseaction_text A.dsemenu { color: #900; text-decoration: none;   }
TD.dseaction_text A.dsemenu:hover { color: #000000; text-decoration: underline;  }

A.dsemenu:link { color: #000000; font-weight: bold; }
A.dsemenu:visited { color: #000000; font-weight: bold; }
A.dsemenu:hover { color: #cc0000; font-weight: bold; text-decoration: underline; }

.dse_contents {border-collapse: separate; border-spacing: 4px }
.dse_contents td {margin: 3px; border: solid 2px #900;  background-color: #333366;  color: #FFFFFF; padding: 3px; font-weight: bold; }

.submit
{
   font-size:1em;
}

/* Ranking links*/

a.ranking:link {color: #000000; text-decoration: none;  font-size: 8pt;}
a.ranking:visited {color: #000000; text-decoration: none;  font-size: 8pt;}
a.ranking:hover {color: #000000; text-decoration: underline;  font-size: 8pt;}
a.ranking:active {color: #000000; text-decoration: none;  font-size: 8pt;}

/* user list links*/

a.usrlst:link {color: #c00c00; text-decoration: none;  font-size: 9pt;}
a.usrlst:visited {color: #c00c00; text-decoration: none;  font-size: 9pt;}
a.usrlst:hover {color: #c00c00; text-decoration: underline;  font-size: 9pt;}
a.usrlst:active {color: #c00c00; text-decoration: none;  font-size: 9pt;}


/* list of major injuries */


table.maj_inj td {border-style: none !important; vertical-align: top}
table.maj_inj ul {margin-left: 10px}
table.maj_inj li {color:#c00c00; font-weight: normal;}

div.outer_blue_area
{
    margin-left: 5%; 
    padding: 7px; 
    background-color: #EEEEFF; 
    border: 1px solid #DDDDFF;
}


div.inner_blue_area
{
 background-color: #FFFFFF; 
 padding: 5px; 
 border: 1px solid #DDDDFF;
}


 
 div.outer_area
{
    margin-left: 5%; 
    padding: 7px; 
    
}

div.inner_area_sa_na
{
 background-color: #FFFFFF; 
 padding: 5px; 
 border: 1px solid #D1D1D1;
}
div.inner_area_sa_mr
{
 background-color: #FFFFFF; 
 padding: 5px; 
 border: 1px solid #8BD18B;
}
div.inner_area_sa_ar
{
 background-color: #FFFFFF; 
 padding: 5px; 
 border: 1px solid #FFFF5D;
}
div.inner_area_sa_dnmr
{
 background-color: #FFFFFF; 
 padding: 5px; 
 border: 1px solid #FF8B8B;
}

div.sa_na {background-color: #FFFFFF; }
div.sa_mr {background-color: #B3E0B3; }
div.sa_ar {background-color: #FFFF9E; }
div.sa_dnmr {background-color: #FFA7A7; }

/* Warn Archive
----------------------------*/
div .warning table {margin:5px 0px 5px 0px;font-size:12px;border:2px solid #EAE9E1;padding:2px 2px 2px 2px;background:#FFF6D1;}
div .warning th {background:url(img/rec_icon_warn.gif) no-repeat center;text-align:center; border: 0px; }

div .note table {margin:5px 0px 5px 0px;font-size:12px;border:2px solid #ABABD1;padding:2px 2px 2px 2px;background:#D1D1FF;}
div .note th {background:url(img/rec_icon_warn.gif) no-repeat center;text-align:center; border: 0px; }

span.dse_correct {font-size:16px; color: #0C0; }
span.dse_incorrect {font-size:16px; color: #C00;}

div.substance textarea {
  width:99%;
  border:1px solid #E1D4C0;
  border-color:#CABBA9 #E1D4C0 #E1D4C0 #CABBA9;
  padding: 3px;
  font: 12px "Trebuchet MS",Verdana,Arial,Sans-serif;
}

span.ptw_title {font-size:14px; font-weight: bold;}

div .warning_grey table {margin:5px 0px 5px 0px;font-size:12px;border:2px solid #EAE9E1;padding:2px 2px 2px 2px;background:#EDEDED;}
div .warning_grey th {background:url(img/rec_icon_warn.gif) no-repeat center;text-align:center; border: 0px; }

  DIV.red
    {
    background: #FFECEC;
    text-align: center;
    border:2px solid #EAE9E1;
    
    } 
    
     DIV.yellow
    {
    background: #FFF6D1;
    text-align: center;
    border:2px solid #EAE9E1;
    
    } 
    
      DIV.green
    {
    background: #E6F9DF;
    text-align: center;
    border:2px solid #EAE9E1;
    
    } 
    
    div.ptw_outer_blue_area 
{
   /* margin-left: 5%; */
    padding: 7px; 
    background-color: #EEEEFF; 
    border: 1px solid #DDDDFF;
}

    th.red
    {
    background: #FFECEC !important;
    } 
    
    th.noweight 
    {
	font-weight: normal;
	}

    tr.red td, tr.red th
    {
    background: #FFECEC !important;
    } 
    
     tr.yellow td, tr.yellow th
    {
    background: #FFF6D1 !important;
    } 
    
      tr.green td, tr.green th
    {
    background: #E6F9DF !important;   
    } 
    
    tr.grey td
    {
    background: #F4F3EF !important;   
    } 
    
    tr.blue th
    {
    background: #EAE9EF !important;   
    }  
    
    tr.orange th
    {
    background: #F6ECDF !important;   
    }    
    
	.hidden_area { display: none; }   
	
/* Fire Safety Module */

	DIV#zones_expl {
		color: #333;
		background: #fedfeb;
		border: 4px solid red;
		width: 60%;
		margin: 20px auto;
		padding: 10px;
		text-align: justify;
	}

	DIV#zones_expl_sml {
		color: #333;
		background: #fedfeb;
		border: 4px solid red;
		width: 380px;
		margin: 10px auto;
		padding: 10px;
		text-align: center;
	}
	
	DIV.warning_actions {
		display: block;
		padding-left: 10px; 
		border: 2px solid #EAE9E1; 
		padding: 2px 2px 2px 2px; 
		background: #FFF6D1;
	}
	
	DIV.warning_actions_hide {
		display: none;
		padding-left: 10px;
	}
	
	/* Stats Console on Home Page */
	
	.stats_module 
	{background-color: #F3F3F3; /*FFF6D1*/
	 border: solid 1px #E3E3E3;
	 padding: 2px; 
	 margin: 2px 2px 5px 2px;	 
	 	}
	
	 	
	.stats_module_inner 
	{background-color: #FFFFFF;
	 border: solid 1px #E3E3E3;
	 padding: 5px; 
	 margin: 2px 2px 2px 2px;
	 min-height: 140px;
	 	}
	
	
	.stats_content
	{
	 
	 width:100%;
	 
	 
	/*  border: solid 1px black; clear: both; */
	  
	 }
	
	
	
    div.stats_mod_icon 
	{  
	    width: 55px;
	    height: 55px;
	    background-color: #F3F3F3;
	    border: solid 1px #E3E3E3;
	    margin-bottom: 10px;
	    margin-top: 2px;
	    margin-left: auto; margin-right: auto  
    }
    
    div.stats_mod_icon  img
	{  
	    width: 45px;
	    height: 45px;	    
	    margin-top: 5px;
	     
    }
	
	.stats_content_right
	{
	  /* height:100%;
	  padding-left: 5px; border: solid 1px black; */  
	  vertical-align: top;
	}
	
	.stats_content_left
	{ 	       
	    width: 75px;
	    vertical-align: top;
	   
	 /*   border: solid 1px black; */   
	    text-align: center;
	}
	
	.stats_module_inner h1
	{margin-top: 2px;
	 margin-bottom:10px;
	 font-family: Arial;
	 font-weight: bold;
	 border-bottom: solid 2px #CC0000;
	 text-shadow: none;
	 font-size: 16px
	  }

	.statistic_value
	{float: right; background-image: none; background-color: White; padding-left: 3px; font-size: 12px; }
	
	.statistic_desc
	{float: left; padding-right: 2px;  background-color: White;}
	
	.dots
	{ background-image: url("img/dot.jpg"); background-repeat: repeat-x; height: 16px; }
	
	.clear
	{clear: both; height: 1px;}
	
	.statistic_holder
	{padding-bottom: 4px;
	    clear: both;
	  }
	
	.list
	{background-image: url("img/list-item.jpg"); background-repeat: no-repeat; padding-left: 50px}
	
	
/* calendar control elements */

	.calControl_cpYearNavigation,
	.calControl_cpMonthNavigation
	{
		background-color:#6677DD !important;
		text-align:center !important;
		vertical-align: middle !important;
		text-decoration:none !important;
		color:#FFFFFF !important;
		font-weight:bold !important;
		padding: 0px !important;
	}
	.calControl_cpDayColumnHeader,
	.calControl_cpYearNavigation,
	.calControl_cpMonthNavigation,
	.calControl_cpCurrentMonthDate,
	.calControl_cpCurrentMonthDateDisabled,
	.calControl_cpOtherMonthDate,
	.calControl_cpOtherMonthDateDisabled,
	.calControl_cpCurrentDate,
	.calControl_cpCurrentDateDisabled,
	.calControl_cpTodayText,
	.calControl_cpTodayTextDisabled,
	.calControl_cpText
	{
		font-family:arial;
		font-size:8pt;
	}
	TD.calControl_cpDayColumnHeader
	{
		text-align:right;
		border:solid thin #6677DD !important;
		border-width:0 0 1px 0 !important;
		padding: 0px !important;
	}
	.calControl_cpCurrentMonthDate,
	.calControl_cpOtherMonthDate,
	.calControl_cpCurrentDate
	{
		text-align:right;
		text-decoration:none;
	}
	.calControl_cpCurrentMonthDateDisabled,
	.calControl_cpOtherMonthDateDisabled,
	.calControl_cpCurrentDateDisabled
	{
		color:#D0D0D0;
		text-align:right;
		text-decoration:line-through;
	}
	.calControl_cpCurrentMonthDate
	{
		color:#6677DD;
		font-weight:bold;
	}
	.calControl_cpCurrentDate
	{
		color: #FFFFFF;
		font-weight:bold;
	}
	.calControl_cpOtherMonthDate
	{
		color:#808080;
	}
	TD.calControl_cpCurrentDate
	{
		color:#FFFFFF;
		background-color: #6677DD !important;
		border-width:1px !important;
		border:solid thin #000000 !important;
		padding: 0px !important;
	}
	TD.calControl_cpCurrentDateDisabled
	{
		border-width:1px !important;
		border:solid thin #FFAAAA !important;
		padding: 0px !important;
	}
	TD.calControl_cpTodayText,
	TD.calControl_cpTodayTextDisabled
	{
		border:solid thin #6677DD !important;
		border-width:1px 0 0 0 !important;
		padding: 0px !important;
	}
	A.calControl_cpTodayText,
	SPAN.calControl_cpTodayTextDisabled
	{
		height:20px;
	}
	A.calControl_cpTodayText
	{
		color:#6677DD;
		font-weight:bold;
	}
	SPAN.calControl_cpTodayTextDisabled
	{
		color:#D0D0D0;
	}
	.calControl_cpBorder
	{
		border:solid thin #6677DD !important;
		padding: 0px !important;
	}
	
	a.calIcon {padding:0px 2px 0px 15px;background: url(img/calendar_control.png) no-repeat;background-position: left center;}
	a.calIcon:link {color: #000000; text-decoration: none;  font-size: 8pt;}
	a.calIcon:visited {color: #000000; text-decoration: none;  font-size: 8pt;}
	a.calIcon:hover {color: #000000; text-decoration: underline;  font-size: 8pt;}
	a.calIcon:active {color: #000000; text-decoration: none;  font-size: 8pt;}
	span.calIcon_dis {padding:0px 2px 0px 15px;background: url(img/calendar_control_dis.png) no-repeat;background-position: left center;}

div.header
{
    background: #C00; 
    height: 20px    
}

div.header a.header_link:link {float: right; color: #FFF; margin-right: 3px; margin-top: 2px; text-decoration: none; font-weight: bold;}
div.header a.header_link:visited {float: right; color: #FFF; margin-right: 3px; margin-top: 2px; text-decoration: none; font-weight: bold;}
div.header a.header_link:hover {float: right; color: #FFF; margin-right: 3px; margin-top: 2px; text-decoration: none; font-weight: bold;}
div.header a.header_link:active {float: right; color: #FFF; margin-right: 3px; margin-top: 2px; text-decoration: none; font-weight: bold;}

.pdf_set td { margin: 3px; padding: 5px}



/*  Print settings */

#blanket {
background-color:#111;
opacity: 0.65;
filter:alpha(opacity=65);
position:absolute;
z-index: 9001;
top:0px;
left:0px;
width:100%;
}
#popUpDiv {
position:absolute;
background-color:#eeeeee;
width:300px;
/*height:300px;*/
z-index: 9002;
}
#popUpDivPasscode {
    position:absolute;
    background-color:#eeeeee;
    z-index: 9003;
    margin-left: auto;
    margin-right: auto;
}

#popUpHRImport {
    position:absolute;
    background-color:#eeeeee;
    z-index: 9002;
    margin-left: auto;
    margin-right: auto;
}

 a.paging:link {color: #000; text-decoration: none; font-weight: bolder; font-size: 14px}
 a.paging:visited {color: #000;  text-decoration: none; font-weight: bolder; font-size: 14px}
 a.paging:hover {color: #DB2D26;  text-decoration: none; font-weight: bolder; font-size: 14px}
 a.paging:active {color: #000;  text-decoration: none; font-weight: bolder; font-size: 14px}


 /* ------- Sign Off / Review / Authorise Warning ------- */

.warningSP {
    width:auto;
    padding: 5px;
    margin: 10px 0px 10px 0px;
    border: 1px solid #E88B8B;
    background: #FBEEEE;
    min-height: 70px;
}
    
.warningSP h1 {
    font-size: 15px;
    text-transform: uppercase;
    padding: 3px 0px 0px 0px;
    margin: 0px;
}
    
.warningSP p {
    padding: 0px;
    margin: 3px 0px 3px 0px;
}
    
.warningSP img {
    float: left;
    margin: 6px 20px 10px 20px;
}
    
.warningSP span {
    margin-left: 115px;
}
    
.sig2 {
    background: #FFFAE8;
    border: #FFD52E;
}
    
.sig3 {
    background: #F1F6E8;
    border: #90B546;
    height: 72px;
}