A, BODY, DIV, FORM, H1, H2, H3, H4, H5, INPUT, P, TABLE, TD, TH, TR, TEXTAREA
{
 font-family: helvetica,arial,sans-serif;
 font-size: small;
}

A { text-decoration: none; }
A:link { color: #c00; text-decoration: none; }
A:visited { color: #c00; text-decoration: none; }
A:hover { color: #600; text-decoration: none; }

A.menu:link { color: #000000; font-weight: bold; }
A.menu:visited { color: #000000; font-weight: bold; }
A.menu:hover { color: #cc0000; font-weight: bold; text-decoration: underline; }

BODY
{
 margin: 4px;
 padding: 0;
}

TD.action_text A.menu:link { color: #900; font-weight: bold; }
TD.action_text A.menu:visited { color: #900; font-weight: bold; }
TD.action_text A.menu:hover { color: #000; font-weight: bold; }

TD.action_text A.menu_grey:link { color: #999; font-weight: bold; }
TD.action_text A.menu_grey:visited { color: #999; font-weight: bold; }
TD.action_text A.menu_grey:hover { color: #999; font-weight: bold; }

TD.action_text SPAN.menu { font-size: small; color: #900; font-weight: bold; }

H1
{
 font-family: "Lucida Grande", "Lucida Sans Unicode";
 color: #c00;
 font-size: large;
 font-weight: normal;
 text-shadow: #ccc 2px 2px 2px;
}

H1 SPAN
{
 color: #000;
}

H2
{
 font-size: medium;
 color: #000;
 margin: 5px auto;
}

H3
{
 font-size: small;
 font-weight: bold;
 margin: 0;
 margin-bottom: 4px;
 color: #000;
}

H4
{
 font-size: small;
 font-weight: bold;
 margin: 0;
 color: #c00;
}

IMG { border: none; }

BUTTON, A.button, INPUT.button
{
 display: inline-block;
 width: auto;
 line-height: 12px !important;
 white-space: pre !important;
 color: #000;
 font-weight: bold;
 border: 1px solid #999;
 border-bottom: 1px solid #666;
 border-right: 1px solid #888;
 padding: 4px 6px 4px 6px;
 cursor: pointer;
 text-shadow: #fff 2px 2px 1px;
 background: url(../../../images/icons/html_button_bg.png);
}

#lost
{
 color: #444;
 border-bottom: 1px solid #999;
 border-top: 1px solid #999;
 margin: 4px 6px 4px 0px;
 padding: 4px;
}

/*

#corplogo
{
 width: 180px;
 height: 43px;
 background: url(../../../images/icons/ass_title.gif);
}

*/

.pinstripe
{
 padding: 4px;
 background-image: url('../../../images/icons/bg.png');
 border: 1px solid #ccc;
}

.pinstripe:hover
{
 border-color: #999;
}

.toolbar
{
 border-top: 1px solid #ddd;
 border-bottom: 1px solid #ddd;
 padding: 4px 0;
 margin: 10px 0;
}

.MENUBACK
{
 background-image: url('../../../images/menus/menu_bck_01.gif');
}

.FORMBACK
{
 margin: auto 10px;
 width: auto;
 padding: 10px;
 background-image: url('../../../images/icons/bg.png');
 border: 1px solid #ccc;
}

TD.online_icon
{
 border-left: 1px solid #999;
 border-top: 1px solid #999;
 border-bottom: 1px solid #999;
 background: #f5f5f5 url(../../../images/icons/action_bg_line.gif) top right;
 border-right: none;
 padding: 5px; 
}

TABLE.action
{
 border: none;
 width: 100%;
 border-spacing: 0;
 padding: 0;
 margin: 0;
 cursor: pointer;
}
TABLE.action TD
{
 margin: 0;
 border-spacing: 0;
}

TD.action_icon
{
 border-left: 1px solid #999;
 border-top: 1px solid #999;
 border-bottom: 1px solid #999;
 background: #f5f5f5 url('../../../images/icons/action_bg.gif') top right;
 vertical-align: middle;
 border-right: none;
 padding: 5px;
}
TD.action_text
{
 border: 1px solid #999;
 border-left: none;
 background: #f5f5f5;
 padding: 5px;
 color: #222;
}
TD.action_text A.menu { color: #900; }
TD.menu_col
{
 padding-left: 10px;
 vertical-align: top;
}

TABLE.featured { width: 85%; margin: auto; }
TABLE.featured TH
{
 padding: 2px;
 border: 1px solid #999;
 background: #e2e2e2 url('../../../images/icons/th_bg.jpg') repeat-x top left;
}
TABLE.featured TD
{
 border: 1px solid #999;
 border-top: none;
 background: #f1f1f1;
 padding: 4px;
}

DIV.featcont TABLE TD
{
 border: none;
 background: none;
}

DIV.feat
{
 margin: 10px auto;
 width: 85%;
}

DIV.featcont
{
 margin: 2px;
 padding: 6px;
 border: 1px solid #ccc;
 background: #fff;
 text-align: left;
}

DIV.backing
{
 border: 1px solid #999;
 background: #e2e2e2;
 padding: 6px;
}

DIV.box1
{
 border: 1px solid #999;
 background: #fff;
 padding: 4px;
}

DIV.box2
{
 border: 1px solid #999;
 background: #f1f1f1;
 padding: 4px;
}

DIV.box3
{
 border: 1px solid #999;
 background: #e2e2e2;
 padding: 2px;
}


/* Horizontal and vertical style tables */
TABLE.vcols, TABLE.hrows
{
 border: 1px solid #999;
 border-collapse: collapse;
 border-spacing: 0;
 background: #fff;
}

/* This is for tables with name/value pairs */
TABLE.vcols TH
{
 text-align: left;
 background: #f2f2f2;
 padding: 2px;
 border: 1px solid #999;
 border-bottom: none;
}
TABLE.vcols TH.last { border-right: 1px solid #999; }
TABLE.vcols TH SPAN { font-weight: normal; }
TABLE.vcols TD
{
 background: #fff;
 border-top: 1px solid #999;
 border-right: 1px solid #999;
}
TABLE.vcols TD.last { border-right: 1px solid #999; }
TABLE.vcols TD.summary
{
 border-bottom: 1px solid #999;
 background: #f1f1f1;
 padding: 5px;
 text-align: right;
}


/* This is for tables with a header and multiple horizontal rows */
TABLE.hrows TH
{
 border: 1px solid #999;
 text-align: center;
 background: #f2f2f2 url('../../../images/icons/th_bg.jpg') repeat-x top left;
 padding: 2px;
 margin: 0;
 font-weight: normal;
 text-shadow: #fff 2px 2px 1px;
}
TABLE.hrows TH.hl
{
 background: #e9e9f2 url('../../../images/icons/th_bg_hl.jpg') repeat-x top left;
}
TABLE.hrows TR.small TH
{
 font-size: smaller !important;
 padding: 1px;
}

TABLE.hrows TD
{
/* background: #fff; */
 border-left: 1px solid #999;
 border-right: 1px solid #999;
 padding: 2px;
 margin: 0;
}
TABLE.hrows TD.summary
{
 border-top: 1px solid #999;
 border-bottom: 1px solid #999;
 background: #f1f1f1;
 padding: 5px;
 text-align: center;
}

TABLE.hrows TR.hl TD, TABLE.vcols TR.hl TD 
{ 
 background: #dfebfe; /* #edf3fe; */
/* border-top: 1px solid #ddd;
 border-bottom: 1px solid #ddd; */
}

TABLE.trackrows TD
{
 padding: 4px;
 margin: 0;
}

TABLE.trackrows 
{
 background: #fff;
 padding: 2px;
 margin: 0;
 border:  2px solid #ddd;
}


/* 'Tighter' unordered list */
UL.condensed
{
 margin: 3px 0px;
 padding-left: 16px;
}

/* 1px horizontal dashed line */
HR.dash_sep
{
 height: 1px;
 border: none;
 border-top: 1px dashed #999;
}

/* convenience (lazy) classes */

.disclaimer, .disclaimer A { font-size: x-small; font-family: verdana; }

.alt { color: #c00; }
.disabled { color: #999 !important; }

.c { text-align: center; }
.l { text-align: left; }
.r { text-align: right; }
.top { vertical-align: top !important; }
.mid { vertical-align: middle !important; }
.bot { vertical-align: bottom !important; }

.nb { border: none !important; } 
.nbg { background: none !important; }