
.modules {
	padding: 0 3px;
	/*margin: 20px 20px;
	min-width: 460px; 
	max-width: 460px;*/
	width: 100%;
}

.modules h1 {
    padding: 0px 12px 5px 12px ;
    margin:0px; 
    color: White;
    font-size: 18px;
    font-weight: normal;
    font-family: Arial;
	text-align: left;
}
.modules h2 {
    padding: 0px 12px 0px 12px ;
    margin:0px; 
    color: White;
    font-size:13px;
    font-weight: normal;
	text-align: left;
}

.modules h3 
{
	background: url(style/dividing-bar.png) no-repeat;
	background-position: 85px 0;
	width:87%;
	margin: 0 0 10px 0;
	padding-left: 5px;
}
.modules span
{
	font-size:12px;
	font-weight:normal;
	color:#828282;
	background-color: #FFFFFF !important;
	padding-right: 3px;
}	

.module_button {
	float:left; 
	width: 230px;
	height: 119px;
	cursor: pointer;
	padding-top: 10px;
}

.languages {
    margin: 0 auto;
    text-align: center;
}



.language_button { 
    margin: auto;
    left: 0px;
	width: 230px;
	height: 119px;
	cursor: pointer;
	padding-top: 10px;
    padding-bottom: 20px;
}

.language_button1 { 
        margin: auto;
        left: 50px;
        padding-top: 10px;
        padding-bottom: 20px;
        width: 210px;
        float: left;
        margin-top: 5px;
        margin-bottom: 10px;
        position: relative !important;
        display: inline-block !important;
}

.language_button2 {
    margin: auto;
    padding: 5px;
    position: relative !important;
    display: inline-block !important;
    margin: 0 auto;
}

.view {
	background: url('style/portal_dashboard/button_enabled_view.png') no-repeat left top;
}

.coshh {
	background: url('style/portal_dashboard/button_enabled_coshh.png') no-repeat left top;
}

.mh {
	background: url('style/portal_dashboard/button_enabled_mh.png') no-repeat left top;
}

.puwer {
	background: url('style/portal_dashboard/button_enabled_puwer.png') no-repeat left top;
}

.edit {
	background: url('style/portal_dashboard/button_enabled_edit.png') no-repeat left top;
}

.docs {
	background: url('style/portal_dashboard/button_enabled_docs.png') no-repeat left top;
}

.help {
	background: url('style/portal_dashboard/button_enabled_help.png') no-repeat left top;
}

.training {
    background: url('style/portal_dashboard/button_enabled_training.png') no-repeat left top;
}

.disabled {
	background: url('style/portal_dashboard/button_disabled.png') no-repeat left top;
	cursor: default !important;
}

table.menuaction
{
 border: none;
 width: 100%;
 border-spacing: 0;
 padding: 0;
 margin: 0;
}

table.menuaction td
{
 margin: 0;
 border-spacing: 0;
}

td.menubutton_text { 
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	vertical-align: middle;
	color: #FFFFFF;
	font-size: 1.5em !important;
	
}



A.mainmenu:link { color: #FFFFFF; font-size: 1em !important; }
A.mainmenu:visited { color: #FFFFFF; font-size: 1em !important; }
A.mainmenu:hover { color: #FFFFFF; font-size: 1em !important; text-decoration: none; }


.newscontainer {
	float:left;
	width: 33%; /*720px*/
	height: 100%;
	/* margin: 0 7px 10px 3px; */
}


/*
.newsheader {
	width: 100%;
	color: #FFFFFF;
	/* margin-top: 3px;
}


.newsheader_mid {
	width: 700px;
	height: 20px;
	background: url('news_header.png') repeat-x top left;
	float: left;
	text-align: left;
	padding-top: 5px;
}

.newsheader_left{
	width: 10px;
	height: 25px;
	background: url('news_header_left.png') no-repeat top left;
	float: left;
}

.newsheader_right {
	width: 10px;
	height: 25px;
	background: url('news_header_right.png') no-repeat top left;
	float: left;
}
	

.newscontent {
	width: 712px;
	border:1px solid #B4272D;
	padding: 10px 3px 3px 3px;
	background: #FFFFFF url('news_body.png') repeat-x top left;
	text-align: left;
}
*/

h5 { margin-bottom: 0px; }
.postby { float: right; color: Gray; padding-right: 3px;}