.FORMBACK
{
 margin: auto 10px;
 width: auto;
 padding: 10px;
 background-image: url('../../../images/icons/bg.png');
 border: 1px solid #ccc
}

FORM
{
 margin: auto 0px;
 padding: 0px;
}

.FORMATBACK
{
 margin: auto 0px;
 width: 100%;
 padding: 5px;
 background-image: url('../../../images/icons/bg.png');
 border: 1px solid #ccc
}