TABLE.fouropts .where TD
{
 border-bottom: 1px solid #ccc;
}

TH
{
 padding: 4px 6px;
 border-bottom: 2px solid #fff;
}

TH.level
{
 font-weight: normal;
 border-bottom: 1px solid #fff;
}

TR.where SPAN
{
 color: #c00;
}

TR.where:hover TD.q
{
 background-color: #f5f5f5;
 font-weight: bold;
}

TR.where SELECT
{
 margin-bottom: 8px;
 margin-top: 3px;
}

TR.where TD
{
 vertical-align: top;
 margin: 4px;
 padding: 1px;
}

TABLE.report TR.hl TD { background-color: #fff4df; }
TABLE.report TD, TD.boxed
{
 border-bottom: 1px solid #000;
 border-right: 1px solid #000;
}
TABLE .row1 { border-top: 1px solid #000; }
TABLE .col1 { border-left: 1px solid #000; }

TABLE.report_haz
{
 border: 2px solid #d5ddee;
}

TABLE.report_haz TD
{
 border-bottom: 1px solid #ccc;
/* border: 1px solid #f00 !important; */
}

TABLE.report_haz TR.head TD
{
 background-color: #f5f5f5;
 border-bottom: 2px solid #999;
 padding: 2px;
}

TABLE.history TH, TABLE.history TD, TABLE.history INPUT, Table.history DIV
{
 font-size: x-small;
}

TABLE.history TH
{
 text-align: left;
 background-color: #9bd;
}

TABLE.history TD
{
 background-color: #d1e0f0;
 padding: 1px;
 border-bottom: 1px solid #fff;
}

TABLE.history TR.hl TD
{
 background-color: #b5cee6;
}

DIV.notes
{
 border: 1px solid #59c;
 background-color: #f5f5ff;
 padding: 2px;
 margin: 2px;
}

.pinstripe
{
 padding: 4px;
 background-image: url('../../../images/icons/bg.png');
 border: 1px solid #ccc;
}

.pinstripe:hover
{
 border-color: #000;
}

.butt1, butt2, butt3
{
 font-family: verdana,sans-serif;
}

.butt1
{
 background-image: url('../../../images/icons/button_bg.png');
 border: 2px solid #e59700;
 border-top: 2px solid #fdd889;
 border-left: 2px solid #fac051;
 padding: 1px 2px;
 font-size: smaller;
}

.butt2
{
 background-image: url('../../../images/icons/button_bg.png');
 border: 1px solid #fb5;
 border-top: 1px solid #ffc993;
 border-left: 1px solid #ffc993;
 padding: 0px 2px;
}

.butt3
{
 background-image: url('../../../images/icons/button_bg.png');
 border: 1px solid #339;
 border-top: 1px solid #55b;
 border-left: 1px solid #55b;
 padding: 0px 2px;
}

.low1 { background: #d1e0f0; }
.med1 { background: #b5cee6; }
.hi1 { background: #9bd; }

.low2,low3,med2,med3,hi2,hi3
{
 border-bottom: 1px solid #9bd;
}

.low2 { background: #ecf3f9; }
.med2 { background: #dae6f3; }
.hi2 {  background: #bed4e9; }

.med3 { background: #ff9; }
.hi3 { background: #fcd; }


.disabled { color: #999; }

.input_bdr
{
 border: 1px solid #333;
}
.full { width: 99%; }
TABLE.full { width: 98%; }
.nb { border: none !important; }
.hide { display: none; }