.FORMLOOK
{
 margin: auto 0px;
 width: auto;
 padding: 5px;
 background-image: url('../../../images/icons/bg.png');
 border: 1px solid #ccc
}

.NOFORM
{
 margin: auto 0px;
 width: auto;
 padding: 0px;
 background-image: url('NONE');
 border: 0px solid
}
