﻿body { background-color:#FDFDFD; }


.table-searchstyle01 th {
    background-color: #fff0dc;
    text-align: left;
    vertical-align: middle !important;
    font-weight: normal;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    
}

.table-searchstyle01 td {
    vertical-align: middle !important;
    /*border-style:none !important;*/
}

.table-searchstyle01 {
    table-layout: fixed !important;
}


.dz-message {
    font-size: 30px;
    color: #979797;
}


.personsAffItem {
    width: 330px;
    float: left;
    padding-right: 5px;
}

.personsAffItem i {
    color:#c00c00;

}

.personsAffItem input {
    text-align:center;
}

.personsAffItem table {
    margin: 2.5px;

}

.personsAffItem a {
    color: #000000;
}

.personsAffItem a:hover {
    color: #c00c00;
    text-decoration: none;
}





.taskStatGroup {

    width:145px;
    padding:0;
    margin:0;
    text-align:center;

}

.taskStatGroup div {

        width: 40px;
        height: 35px;
        font-weight: bold;
        font-size: 18px;
        margin:3px;
        color: #ffffff;
        padding: 5px;
        text-align: center;
        vertical-align: middle;
        border-radius: 3px;
        float:left;
        padding-top:3px;

}

.taskStatProcessing {
    background-color: #f65454;
    border: 2px solid #c00c00;
}

.taskStatPending {
    background-color: #f65454;
    border: 2px solid #c00c00;
}

.taskStatActive {
    background-color: #f5a152;
    border: 2px solid #de4806;
}

.taskStatComplete {
    background-color: #7eb72b;
    border: 2px solid #61961e;
}


.NoWidth {
    width:100% !important;
}


.urgent {
    color: #ff8c00
}

.checkboxstyle01 label {

    background-color:transparent !important;
    border:none !important;

}

.checkboxstyle01 input[type=checkbox] {

    margin-top:7px !important;

}