

/* Body format 
---------------------------------------------*/ 

body { margin: 0px; padding: 0px; }
body { font-family: Tahoma, Verdana, Arial, Helvetica, Serif; color: #5D5D5D; }
body { background: url(../new-menu-back-red.gif) repeat-x top left; }
body { font-size: .8em; line-height: 140%; }



p { margin: 0px 0px 15px 0px; padding: 0px; }
a, a:active, a:visited { text-decoration: none; color: #c00; }
a:hover { text-decoration: underline; }

#tempcontainer { height: 55px; }
#tempcontainer div.logoAssessNET {padding: 0px 0px 0px 0px; color: white; margin: 35px 35px 0px 0px; background: url(../assessnet-logo-v1.gif) no-repeat right top;  height: 90px;}
#tempcontainer div.logoAssessNET2 {padding: 0px 0px 0px 0px; color: white; margin: 35px 35px 0px 0px; background: url(../riskex-logo-v1.gif) no-repeat right top;  height: 90px;}
#tempcontainer p {float: right; font-size:9px; line-height: 140%; margin: 47px 5px 0px 0px; color:#000; letter-spacing: 2px; text-align:center;}

.banner-before { background: url(../new-menu-back-red.gif) repeat-x top left !important;}
.nobanner { background: none;}

img { border: 0px; }


.esBody { background: url(../new-menu-back-red-es.gif) repeat-x top left !important; }






/* brown box large
--------------------------------- */

#box_top_brn 
{
  margin-left: auto;
  margin-right: auto;
  background: #fff url("../img/c_top.gif") no-repeat left top;
  padding-top:15px;
  text-align: left;
  width:710px;
  position: static;
  top: 6em;
  }
  
#box_bottom_brn {
  background: url("../img/c_bot.gif") no-repeat left bottom;
  padding-bottom:15px;
  width:100%;
  }

#box_main {
  border:5px solid #E1D4C0;
  border-width:0 5px;
  padding:0px 15px;
  width:670px;
  }


/* blue box large
--------------------------------- */

#box_top_blu_sm 
{
  margin: 20px 0px 15px 30px;
  background: #E9E9F5 url("../img/blue-top-small.gif") no-repeat left top;
  padding-top:15px;
  text-align: left;
  width:244px;
  top: 6em;
  position: static;
  float: none;
  }
  
#box_bot_blu_sm {
  background: url("../img/blue-bot-small.gif") no-repeat left bottom;
  padding-bottom:15px;
  width:100%;
  }

#box_main_blu {
  border:5px solid #B1B3CE;
  border-width:0 5px;
  padding:2px;
  width: 230px;
  }  
 

  
/* red box large
--------------------------------- */

#box_top_red_sm 
{
  margin: 20px 10px 15px 0px;
  background: #FDF2ED url("../img/red-top-small.gif") no-repeat left top;
  padding-top:15px;
  text-align: left;
  width:244px;
  top: 6em;
  position:static;
  float: right;
 
  }
  
#box_bot_red_sm {
  background: url("../img/red-bot-small.gif") no-repeat left bottom;
  padding-bottom:15px;
  width:100%;
  }

#box_main_red {
  border:5px solid #EEC0A9;
  border-width:0 5px;
  padding:2px;
  width: 230px;
  }  
 
 
 
 /* Reg
----------------------------------------------- */
#reg h1 {
  margin:0 0 2px 0px;
  line-height:30px;
  }
  
#reg h4 {
  margin:10px 0 5px 0px;
  color: #c00;
  font-weight: normal;
  }

#reg p {
  margin: 15px 0 0px 0px;
 }
 
 #reg ul 
 {
  margin: 15px 0 0 100px;
 }

#reg h6 {
  margin: 0 0 2px 0px;
  }
  
#reg1, #reg2, #reg3, #reg-adv, #reg-create, #reg-done {
  background-repeat:no-repeat;
  background-position:left top;
  }
/*#reg1 {background-image:url("../img/icon_reg1.gif");}
#reg2 {background-image:url("../img/icon_reg2.gif");}
#reg3 {background-image:url("../img/icon_reg3.gif");}*/
#reg-adv {background-image:url("../img/icon_reg_adv.gif");}
#reg-create {background-image:url("../img/icon_reg_create.gif");}
/*#reg-done {background-image:url("../img/icon_reg_done.gif");}*/
#reg table {
  width: 100%;
  margin: 20px 0 0 0px;
  }
#reg th {
  width:25%;
  padding-left:0;
  }
#reg th, #reg td {
  vertical-align:top;
  }
  
 

/* Form elements
---------------------------------------------- */
form .desc {
  width:28%;
  color:#826C55;
  font-size:88%;
  }
  
 form .text {
  border:1px solid #E1D4C0;
  border-color:#CABBA9 #E1D4C0 #E1D4C0 #CABBA9;  
  }
  
  form .select {
  border:1px solid #E1D4C0;
  border-color:#CABBA9 #E1D4C0 #E1D4C0 #CABBA9;  
  }
  
  
form 
{
 margin: 0 0 0 0;   
    
}

#statement 
{
  margin-left: auto;
  margin-right: auto;
 text-align: left;
 padding: 5px 0 0 0;
 font-size:83%;
 width: 710px;
 position: static;
}

.isostatement
{
color:#5D5D5D;
font-size:110%;
}



/* Tables
----------------------------------------------- */
table {
  background:#fff url("../img/bg_table.jpg") repeat-x left top;
  border-width:0;
  font-size:100%;
  color:#333;
  width:100%;
  }
  
th, td {
  border-top:1px solid #CABBA9;
  border-width:1px 0 0 0;
  padding:5px 10px;
  font-size:93%;
  line-height:1.5em;
  }
  
th {
  background:#fff;
  padding-left:5px;
  font-size:100%;
  color:#664E38;
  text-align:left;
  }
  
 table.nostyle
 {
  background: none;
  border-width:0;
  font-size:100%;
  color:#000000;
  width:100%;
 }
 
 th.nostyle, td.nostyle {
  border-top:0px;
  border-width:0px 0 0 0;
  padding:0px;
  font-size:93%;
  }

 


/* Titles
----------------------------------------------- */
h1 {
  margin:0 0 15px;
  font-size:220%;
  line-height:1.2em;
  font-weight:normal;
  color:#c00;
  }
h1 strong {
  color:#000;
  }
h1 em {
  font-style:normal;
  font-weight:bold;
  color:#f60;
  }

h2 
{
  margin:0 0 15px;
  font-size:130%;
  line-height:1.3em;
  color:#826C55;
  font-weight:normal;
  }
  
h4 {
  font-size:100%;
  font-weight:normal;
  color:#826C55;
}
  
 h6 {
  font-size:90%;
  font-weight:normal;
  color:#826C55;
}

 
#box_main_blu p {
  margin: 0px;
  text-align: center;
 }

#box_main_red p {
  margin: 0px;
  text-align: center;
 }
 
 
 /* menu clone
------------------------------------*/
 
 #menuclone 
 {
    height: 80px;
    margin: 0 0 20px 0;
    padding: 15px 0 0 0;
    background:#fff url("../img/menubk.gif") repeat-x left top;
    text-align: right;
    color: #fff;
 }
 
 #menuclonebrz 
 {
    height: 80px;
    margin: 0 0 20px 0;
    padding: 15px 0 0 0;
    background:#fff url("../img/menubk_brz.gif") repeat-x left top;
    text-align: right;
    color: #fff;
 }
 
table.noborder td
 { 
    border: 0px;
    padding: 0 0 0 0; 
 }

table.wideselect select
{
    width: 99%;
}

table.intable {border:0px; background-image: none; width:10%;}

SPAN.txt_shade_gry {color: #999999;}
SPAN.txt_shade_red {color: #c00c00;}
SPAN.txt_shade_org {color: #FFA800;}
SPAN.txt_shade_grn {color: #34C900;}

h5 {font-size:1em;margin-top:0px;margin-bottom: 0px;}
.postby {float: right; color: Gray;}

.news    
a.news {color:#c00; text-decoration: none;}      /* unvisited link */        
a.news:link {color:#c00; text-decoration: none;}      /* unvisited link */
a.news:visited {color:#c00; text-decoration: none;}  /* visited link */
a.news:hover {color:#c00; text-decoration: none;}  /* mouse over link */
a.news:active {color:#c00; text-decoration: none;}  /* selected link */

#reg ul.error 
 {
  margin: 5px 0px 0 5px; 
 }