
#passwordStrength { height:10px; display:block; float:left; } 

.strength0 { width:250px; background:#cccccc; } 
.strength1 { width:50px; background:#ff0000; } 
.strength2 { width:100px; background:#ff5f5f; } 
.strength3 { width:150px; background:#56e500; } 
.strength4 { width:200px; background:#4dcd00; } 
.strength5 { width:250px; background:#399800; }