
 /* menu clone
------------------------------------*/
 
 #menuclone 
 {
    height: 80px;
    margin: 0 0 20px 0;
    padding: 15px 0 0 0;
    background:#fff url("../img/menubk_sme_v2.png") repeat-x left top !important;
    text-align: right;
    color: #fff;
 }