﻿<%@ WebHandler Language="C#" Class="Handler" %>

using System;
using System.Web;

public class Handler : IHttpHandler {

    public void ProcessRequest (HttpContext context) {

        String myParam = context.Request.QueryString["term"];
        if (myParam != null)
        {




        }


    }


                
    public bool IsReusable {
        get {
            return false;
        }
    }

}