

/* regular button styles */

.button_style_inner
{
    margin: 5px 5px 5px 5px;
    padding: 0px;
    width:95%;
    height:81px;
    text-align: left;
    background: url('new_button/centre_but_red.png') repeat-x top left; 
    cursor: pointer;    
}

.button_style_inner h1
{
    padding: 10px 10px 0px 0px ;
    margin:0px; 
    color: White;
    font-size: 20px;
    font-weight: normal;
    font-family: Arial;
}

.button_style_inner h2
{
    padding: 0px 10px 0px 0px ;
    margin:0px; 
    color: White;
    font-size:13px;
    font-weight: normal;
}

.button_style_inner img
{
    padding: 5px 0px 5px 9px ;
}

.button_style_right
{
    width:100%;
    height:81px;
    background: url('new_button/right_but_red.png')  no-repeat top right;     
}

.button_style_left
{
    width:100%;
    height:81px;
    background: url('new_button/left_but_red.png') no-repeat top left;     
}


/* regular buttons - disabled */

.button_style_inner_dis
{
    margin: 5px 5px 5px 5px;
    padding: 0px;
    width:95%;
    height:81px;
    text-align: left;
    background: url('new_button/centre_but_grey.png') repeat-x top left; 
}

.button_style_inner_dis h1
{
    padding: 10px 10px 0px 0px ;
    margin:0px; 
    color: White;    
    font-size: 20px;
    font-weight: normal;
    font-family: Arial;
}

.button_style_inner_dis h2
{
    padding: 0px 10px 0px 0px ;
    margin:0px; 
    color: White;
    font-size:13px;
    font-weight: normal;
    font-family: Arial;
}

.button_style_inner_dis img
{
    padding: 5px 0px 5px 9px ;
}

.button_style_right_dis
{
    width:100%;
    height:81px;
    background: url('new_button/right_but_grey.png')  no-repeat top right;     
}

.button_style_left_dis
{
    width:100%;
    height:81px;
    background: url('new_button/left_but_grey.png') no-repeat top left;     
}



/* Large button styles */


.large_button_style_inner
{
    margin: 5px 5px 5px 5px;
    padding: 0px;
    /* width:95%; */
    height:242px;
    text-align: left;
    cursor: pointer; 
}

.large_button_style_inner h1
{
    padding: 10px 10px 0px 15px ;
    margin:0px; 
    color: White;
    font-size: 20px;
    font-weight: normal;
    font-family: Arial;
}

.large_button_style_inner h2
{
    padding: 0px 10px 0px 15px ;
    margin:0px; 
    color: White;
    font-size:13px;
    font-weight: normal;
}

.large_button_style_inner img
{
    padding: 5px 0px 5px 9px ;
}

.large_button_style_inner span
{
	color: #ffffff; 
	font-size: 15pt;
}

.large_button_style
{
    width:242px;
    height:242px;
    background: url('large_button/but_red.png')  no-repeat top right;    
}

.large_button_style_wrapper
{
	float: left;
}

/* Fill content */

.large_button_fill_pass
{
    width:242px;
    height:242px;
    background: url('large_button/but_fill_pass.png')  no-repeat top right;    
}

.large_button_fill_excl
{
    width:242px;
    height:242px;
    background: url('large_button/but_fill_excl.png')  no-repeat top right;    
}

.large_button_fill_fail
{
    width:242px;
    height:242px;
    background: url('large_button/but_fill_fail.png')  no-repeat top right;    
}

.large_button_fullface
{
    width:242px;
    height:242px;
    background: url('large_button/but_red_fullface.png')  no-repeat top right;    
}


/* Large button styles - disabled */


.large_button_style_inner_dis
{
    margin: 5px 5px 5px 5px;
    padding: 0px;
    /* width:95%; */
    height:242x;
    text-align: left;

}

.large_button_style_inner_dis h1
{
    padding: 10px 10px 0px 15px ;
    margin:0px; 
    color: White;
    font-size: 20px;
    font-weight: normal;
    font-family: Arial;
}

.large_button_style_inner_dis h2
{
    padding: 0px 10px 0px 15px ;
    margin:0px; 
    color: White;
    font-size:13px;
    font-weight: normal;
}

.large_button_style_inner_dis img
{
    padding: 5px 0px 5px 9px ;
}

.large_button_style_inner_dis span
{
	color: #ffffff; 
	font-size: 15pt;
}

.large_button_style_dis
{
    width:242px;
    height:242px;
    background: url('large_button/but_grey.png')  no-repeat top right;
}

.large_button_style_wrapper_dis
{
	float: left;
}


/* Large Half Height button styles */


.half_button_style_inner
{
    margin: 5px 5px 5px 5px;
    padding: 0px;
    /* width:95%; */
    height:119px;
    text-align: left;
    cursor: pointer; 
}

.half_button_style_inner h1
{
    padding: 10px 10px 0px 15px ;
    margin:0px; 
    color: White;
    font-size: 20px;
    font-weight: normal;
    font-family: Arial;
}

.half_button_style_inner h2
{
    padding: 0px 10px 0px 15px ;
    margin:0px; 
    color: White;
    font-size:13px;
    font-weight: normal;
}

.half_button_style_inner img
{
    padding: 5px 0px 5px 9px ;
}

.half_button_style
{
    width:242px;
    height:119px;
    background: url('large_button/but_red_half.png')  no-repeat top right;    
}


/* large half button style - disabled */


.half_button_style_inner_dis
{
    margin: 5px 5px 5px 5px;
    padding: 0px;
    /* width:95%; */
    height:119px;
    text-align: left;
    cursor: pointer; 
}

.half_button_style_inner_dis h1
{
    padding: 10px 10px 0px 15px ;
    margin:0px; 
    color: White;
    font-size: 20px;
    font-weight: normal;
    font-family: Arial;
}

.half_button_style_inner_dis h2
{
    padding: 0px 10px 0px 15px ;
    margin:0px; 
    color: White;
    font-size:13px;
    font-weight: normal;
}

.half_button_style_inner_dis img
{
    padding: 5px 0px 5px 9px ;
}

.half_button_style_dis
{
    width:242px;
    height:119px;
    background: url('large_button/but_grey_half.png')  no-repeat top right;    
}


/* 3/4 Height button styles */


.button_34_style_inner
{
    margin: 5px 5px 15px 5px;
    padding: 0px;
    /* width:95%; */
    height:150px;
    text-align: left;
    cursor: pointer; 
}

.button_34_style_inner h1
{
    padding: 10px 10px 0px 15px ;
    margin:0px; 
    color: White;
    font-size: 20px;
    font-weight: normal;
    font-family: Arial;
}

.button_34_style_inner h2
{
    padding: 0px 10px 0px 15px ;
    margin:0px; 
    color: White;
    font-size:13px;
    font-weight: normal;
}

.button_34_style_inner img
{
    padding: 5px 0px 5px 9px ;
}

.button_34_style
{
    width:242px;
    height:160px;
    background: url('large_button/but_red_34.png')  no-repeat top right;    
}


/* 3/4 half button style - disabled */


.button_34_style_inner_dis
{
    margin: 5px 5px 0px 5px;
    padding: 0px;
    /* width:95%; */
    height:119px;
    text-align: left;
    cursor: pointer; 
}

.button_34_style_inner_dis h1
{
    padding: 10px 10px 0px 15px ;
    margin:0px; 
    color: White;
    font-size: 20px;
    font-weight: normal;
    font-family: Arial;
}

.button_34_style_inner_dis h2
{
    padding: 0px 10px 0px 15px ;
    margin:0px; 
    color: White;
    font-size:13px;
    font-weight: normal;
}

.button_34_style_inner_dis img
{
    padding: 5px 0px 5px 9px ;
}

.button_34_style_dis
{
    width:242px;
    height:160px;
    background: url('large_button/but_grey_half.png')  no-repeat top right;    
}

/* 1/4 Height button styles */


.button_14_style_inner
{
    margin: 10px 5px 5px 5px;
    padding: 0px;
    /* width:95%; */
    height:119px;
    text-align: left;
    cursor: pointer; 
}

.button_14_style_inner h1
{
    padding: 10px 10px 0px 15px ;
    margin:0px; 
    color: White;
    font-size: 20px;
    font-weight: normal;
    font-family: Arial;
}

.button_14_style_inner h2
{
    padding: 0px 10px 0px 15px ;
    margin:0px; 
    color: White;
    font-size:12px;
    font-weight: normal;
}

.button_14_style_inner img
{
    padding: 5px 0px 5px 9px ;
}

.button_14_style
{
    width:242px;
    height:76px;
    background: url('large_button/but_red_14.png')  no-repeat top right;    
}


/* 1/4 half button style - disabled */


.button_14_style_inner_dis
{
    margin: 5px 5px 5px 5px;
    padding: 0px;
    /* width:95%; */
    height:76px;
    text-align: left;
    cursor: pointer; 
}

.button_14_style_inner_dis h1
{
    padding: 10px 10px 0px 15px ;
    margin:0px; 
    color: White;
    font-size: 20px;
    font-weight: normal;
    font-family: Arial;
}

.button_14_style_inner_dis h2
{
    padding: 0px 10px 0px 15px ;
    margin:0px; 
    color: White;
    font-size:13px;
    font-weight: normal;
}

.button_14_style_inner_dis img
{
    padding: 5px 0px 5px 9px ;
}

.button_14_style_dis
{
    width:242px;
    height:75px;
    background: url('large_button/but_grey_half.png')  no-repeat top right;    
}