﻿
.MatrixDefault i {

    Color: grey;

}


.MatrixDefault [class*="ScorePip_1"] {

    Color: #009400 !important;

}

.MatrixDefault [class*="ScorePip_2"] {

    Color: #E8B900 !important;

}

.MatrixDefault [class*="ScorePip_3"] {

    Color: #D10000 !important;

}

/*.MatrixDefault [class*="ScorePip_4"] {

    Color: #E25900 !important;

}

.MatrixDefault [class*="ScorePip_5"] {

    Color: #c00c00 !important;

}*/