<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN"
           "http://www.w3.org/TR/xhtml1/DTD/xhtml1-Frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <title>AssessNET Online Health and Safety Management</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>

    <frameset rows="50,*" >
    <frame frameborder="0"  style="border:none" marginwidth="0" marginheight="0" name="menu"  scrolling="no" noresize="noresize" src="../modules/response/layout/menu.aspx" />
    <frame frameborder="0" style="border:none"  name="main" marginwidth="0" marginheight="0" scrolling="yes" noresize="noresize" src="../modules/response/layout/module_page.aspx" />

</frameset>

</html>
