<%

DSEAnswers(0) = "-"
DSEAnswers(1) = "0"
DSEAnswers(2) = "0"
DSEAnswers(3) = "0"
DSEAnswers(4) = "0"
DSEAnswers(5) = "0"
DSEAnswers(6) = "0"
DSEAnswers(7) = "0"
DSEAnswers(8) = "0"
DSEAnswers(9) = "-"
DSEAnswers(10) = "0"
DSEAnswers(11) = "0"
DSEAnswers(12) = "0"
DSEAnswers(13) = "0"
DSEAnswers(14) = "0"
DSEAnswers(15) = "1"
DSEAnswers(16) = "1"
DSEAnswers(17) = "1"
DSEAnswers(18) = "1"
DSEAnswers(19) = "1"
DSEAnswers(20) = "1"
DSEAnswers(21) = "1"
DSEAnswers(22) = "1"
DSEAnswers(23) = "1"
DSEAnswers(24) = "1"
DSEAnswers(25) = "1"
DSEAnswers(26) = "1"
DSEAnswers(27) = "1"
DSEAnswers(28) = "1"
DSEAnswers(29) = "1"
DSEAnswers(30) = "1"
DSEAnswers(31) = "1"
DSEAnswers(32) = "1"
DSEAnswers(33) = "1"
DSEAnswers(33) = "1"
DSEAnswers(34) = "0"
DSEAnswers(35) = "1"
DSEAnswers(36) = "1"
DSEAnswers(37) = "-"
DSEAnswers(38) = "-"
DSEAnswers(39) = "-"
DSEAnswers(40) = "1"
DSEAnswers(41) = "1"
DSEAnswers(42) = "0"
DSEAnswers(43) = "1"
DSEAnswers(44) = "1"
DSEAnswers(45) = "1"
DSEAnswers(46) = "1"
DSEAnswers(47) = "1"
DSEAnswers(48) = "1"
DSEAnswers(49) = "0"
DSEAnswers(50) = "1"
DSEAnswers(51) = "1"
DSEAnswers(52) = "1"
DSEAnswers(53) = "1"
DSEAnswers(54) = "1"
DSEAnswers(55) = "1"
DSEAnswers(56) = "1"
DSEAnswers(57) = "1"
DSEAnswers(58) = "0"
DSEAnswers(59) = "-"
DSEAnswers(60) = "1"
DSEAnswers(61) = "1"
DSEAnswers(62) = "1"
DSEAnswers(63) = "1"
DSEAnswers(64) = "1"
DSEAnswers(65) = "1"
DSEAnswers(66) = "1"
DSEAnswers(67) = "1"
DSEAnswers(68) = "1"
DSEAnswers(69) = "1"
%>