<%

DSEQuestions(0) = ""
DSEQuestions(1) = "Fatigue"
DSEQuestions(2) = "Stress"
DSEQuestions(3) = "Anxiety"
DSEQuestions(4) = "Aches"
DSEQuestions(5) = "Pains"
DSEQuestions(6) = "Sensory loss e.g. tingling or pins and needles in neck, back, shoulder"
DSEQuestions(7) = "Restricted joint movement"
DSEQuestions(8) = "Impaired finger movements or grip"
DSEQuestions(9) = ""
DSEQuestions(10) = "Headaches"
DSEQuestions(11) = "Focusing difficulties"
DSEQuestions(12) = "Eye discomfort e.g. sore eyes"
DSEQuestions(13) = "Room seems too dark or bright when looking away from the screen"
DSEQuestions(14) = "Other symptoms of ill health"
DSEQuestions(15) = "Does the image appear to be clear, stable and free from flicker"
DSEQuestions(16) = "Do the brightness, contrast and colour controls work satisfactorily"
DSEQuestions(17) = "Can the screen swivel and tilt"
DSEQuestions(18) = "Is the position of the screen free from reflection / glare"
DSEQuestions(19) = "Is the screen kept clean"
DSEQuestions(20) = "Does the screen height / angle allow for a comfortable head position"
DSEQuestions(21) = "Is the keyboard separate from the screen"
DSEQuestions(22) = "Is the keyboard angle adjustable"
DSEQuestions(23) = "Has the keyboard got a matt surround and non reflective legible keys"
DSEQuestions(24) = "Do you have room to place the keyboard in a comfortable position"
DSEQuestions(25) = "Are you able to rest your forearms on the desk or some other support"
DSEQuestions(26) = "Does the mouse / touchpad work and is the click speed adequate"
DSEQuestions(27) = "Is the chair comfortable and does it provide adequate lumbar support"
DSEQuestions(28) = "Is the chair stable and does it have a 5 star base on castors"
DSEQuestions(29) = "Does the chair swivel freely and adjust in height"
DSEQuestions(30) = "Is the floor surface satisfactory for ease of movement of the chair"
DSEQuestions(31) = "Can you adjust the height of the backrest"
DSEQuestions(32) = "Does the backrest angle adjust or tilt"
DSEQuestions(33) = "Can you adjust your chair easily whilst seated"
DSEQuestions(34) = "If armrests are fitted, do they restrict the position of the chair relative to the desk"
DSEQuestions(35) = "Are you able to rest both feet firmly on the floor or on a footrest"
DSEQuestions(36) = "If a footrest is used, is it adjustable and stable"
DSEQuestions(37) = ""
DSEQuestions(38) = ""
DSEQuestions(39) = ""
DSEQuestions(40) = "Is the desk clearance adequate for leg and feet comfort"
DSEQuestions(41) = "Can you reach all necessary items on the desk without having to stretch or lean"
DSEQuestions(42) = "If a document holder is not supplied, do you feel you need one"
DSEQuestions(43) = "If a document holder is used, is it in a comfortable position"
DSEQuestions(44) = "Does the desk have a non-reflective matt finish"
DSEQuestions(45) = "Are your forearms horizontal when typing"
DSEQuestions(46) = "Is the desk stable and in good repair"
DSEQuestions(47) = "Have you had sufficient training and/or experience to operate the system"
DSEQuestions(48) = "Does the system allow you to work at your own pace"
DSEQuestions(49) = "Does software functionality cause any operational problems"
DSEQuestions(50) = "Is the workspace sufficient to enable postural changes"
DSEQuestions(51) = "Is the distance between your forehead and the screen approximately arms length"
DSEQuestions(52) = "Can a comfortable viewing / focusing distance be achieved"
DSEQuestions(53) = "Do you work without constantly twisting your neck"
DSEQuestions(54) = "Is your upper body position straight and untwisted when working"
DSEQuestions(55) = "Are your shoulders in a relaxed position when using your D.S.E."
DSEQuestions(56) = "Is your work arranged with sufficient breaks to allow movement and avoid eye strain"
DSEQuestions(57) = "Does the work offer variety and is there adequate staff for the volume of work"
DSEQuestions(58) = "Do you experience any noise distractions (e.g. equipment)"
DSEQuestions(59) = ""
DSEQuestions(60) = "Is the lighting in the workplace suitable for D.S.E. use"
DSEQuestions(61) = "If required, are blinds provided to reduce glare and reflection"
DSEQuestions(62) = "Are you aware of the company policy for provision of eye test / spectacles for D.S.E. users"
DSEQuestions(63) = "Have you been provided with information concerning the possible risks of using D.S.E."
DSEQuestions(64) = "Is the temperature and humidity maintained at a comfortable level"
DSEQuestions(65) = "Is there adequate ventilation"
DSEQuestions(66) = "Has your D.S.E. equipment been submitted for an electrical safety (PAT) test"
DSEQuestions(67) = "Are cables, plugs, etc. in good visual condition"
DSEQuestions(68) = "Are sufficient sockets provided to avoid overloading"
DSEQuestions(69) = "Have you received training on the use of your D.S.E. workstation"
%>